.land-bg{
  //background-image: U;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../../../assets/images/landing-bg1.jpg");
  background-attachment: fixed!important;
  background-size: cover;


}
