<div  class="main">


<app-main-navbar [fontColor]="'#000000'"  [isFixed]="false"></app-main-navbar>



    <div class="container-fluid ">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="card" style="padding: 30px;margin-top: 50px ;">
            <div class="row">
              <div class="col-6">
                <form >
                  <p class="h5 text-center mb-4">با ما درمیان بگذارید</p>

                  <div class="md-form">
                    <i class=" prefix "></i>
                    <input type="email" id="contactFormEmail"  style="text-align: right"  class="form-control" mdbInputDirective>
                    <label  for="contactFormEmail">ایمیل شما</label>
                  </div>

                  <div class="md-form" style="margin-top: 40px">
                    <i class=" prefix "></i>
                    <textarea type="text"  class="md-textarea" style="height: 100px;text-align: right" id="message"
                              mdbInputDirective></textarea>
                    <label  for="message">پیام شما</label>
                  </div>


                  <div class="text-center">
                    <button class="btn btn-unique waves-light" mdbWavesEffect>ارسال
                      <i class="fa fa-paper-plane-o ml-1"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-6">
                <p class="h5 text-center mb-4">اطلاعات تماس ما</p>
                <h6 style="text-align: center;font-size: 12px">شماره تماس<i class="fa fa-phone prefix " style="padding-left: 10px"></i></h6>
                <h6 style="text-align: center;font-size: 12px">{{phoneNumber|persainNumberPipe}}</h6>
                <hr>
                <h6 style="text-align: center;font-size: 12px">کد پستی<i class="fa fa-archive prefix " style="padding-left: 10px"></i></h6>
                <h6 style="text-align: center;font-size: 12px">{{postalCode|persainNumberPipe}}</h6>
                <hr>
                <h6 style="text-align: center;font-size: 12px">آدرس<i class="fa fa-map-marker prefix " style="padding-left: 10px"></i></h6>
                <p style="text-align: center;font-size: 12px;line-height: 30px">{{address|persainNumberPipe}}</p>

              </div>


            </div>

          </div>
        </div>
        <div class="col-1"></div>


      </div>
    </div>


<!--<div class="about-header" >-->
  <!--<p style="text-align: center;line-height: 200px;font-size: 30px;color: #fafafa">درباره پاسخ</p>-->
<!--</div>-->
<br>
<br>

</div>
<app-footer></app-footer>
