<div  class="sign-bg" style="overflow: auto">
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div [@flyInOut]="animVar" [@shakeAnimation] = "shakable" class="card" style="margin-top: 10px;padding: 20px;">
        <p style="text-align: center;font-size: 14px">:ثبت نام به عنوان</p>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4 student" [ngClass]="{'student-select': roleSelection === 1 }"  (click)="changeRoleSelection(1)" style=";padding: 10px ;;cursor: pointer!important;">
            <img class="img-fluid"  src="../../../../assets/images/student_1.png">
            <p style="width: 100%;text-align: center;padding-top: 10px"> دانش آموز</p>
          </div>
          <div class="col-2"></div>
          <div class="col-4 teacher" [ngClass]="{'teacher-select': roleSelection === 2 }" (click)="changeRoleSelection(2)" style="padding: 16px;;cursor: pointer!important;">
            <img class="img-fluid"  src="../../../../assets/images/teacher_1.png">
            <p style="width: 100%;text-align: center;padding-top: 10px"> پاسخگو</p>
          </div>
          <div class="col-1"></div>
        </div>


        <input #phone type="text" [textMask]="{mask: mask}" class="ip2" placeholder="شماره تلفن" style="text-align: center;margin-top: 10px"/>
        <input #email type="text" class="ip2" placeholder="ایمیل" style="text-align: center;margin-top: 5px"/>
        <input #password type="password" class="ip2" placeholder="رمز عبور" style="text-align: center;margin-top: 5px"/>

        <button  type="button" style="border-radius: 40px"  (click)="onSignUp(phone.value,email.value,password.value)"  class="btn btn-success waves-light" mdbWavesEffect>ثبت نام</button>
        <p *ngIf="hasError" style="color: red;text-align: center;margin-top: 10px;font-size: 10px;cursor: pointer" >{{errorMessage}}</p>
        <p  (click)="goToSignIn()" style="text-align: center;margin-top: 11px;font-size: 10px;cursor: pointer" >ورود</p>
        <p  style="text-align: center;margin-top: 0px;font-size: 11px" >فراموشی رمز عبور</p>


      </div>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</div>
