<mdb-navbar class="rtl "  SideClass="custom-nav navbar navbar-expand-lg navbar-light  fixed-top  scrolling-navbar">
  <logo>
    <a style="font-size: 18px;font-weight: bold;color: dodgerblue" class="navbar-brand" href="#">{{title}}</a>
  </logo>

  <links>
    <div  class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">

        <li class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/employee/user-list']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" >لیست کاربران<span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="userRole == 'ROLE_ADMIN'" class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/employee/addPersonnel']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" >افزودن پرسنل<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/employee/complaintList']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" > شکایات<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/employee/blog/cats']" class="link hover-2 nav-link effect-underline" > افزودن محتوا </a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/employee/purchaseManagement']" class="link hover-2 nav-link effect-underline" > مدیریت خریدها </a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect style="color: #2a2a2a;" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="caret"></span> حساب کاربری </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/tutor/profile']" >مشخصات حساب</a>
            <div class="divider dropdown-divider"></div>
            <a  (click)="logout()" class="customDropDown dropdown-item waves-light" mdbWavesEffect href="#">خروج از حساب</a>
          </div>
        </li>

      </ul>
    </div>
  </links>

</mdb-navbar>
