<div class="main">
<app-tutor-navbar *ngIf="userType == 'ROLE_TUTOR'" [fontColor]="'#000000'"></app-tutor-navbar>
<app-student-navbar [fabButton]="false" *ngIf="userType == 'ROLE_STUDENT'" [fontColor]="'#000000'"></app-student-navbar>
<app-employee-navbar [fontColor]="'#000000'" *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'"> </app-employee-navbar>

<div class="container" style="margin-top: 100px">
<div *ngIf="!editable" class="row rtl">
  <div class="col-5">
    <img *ngIf="post?.coverImage == null"  style="padding: 5px;" class="img-fluid img-thumbnail" src="../../../../assets/images/paper-placeholder.png">
    <!--TODO uncomment and check -->
    <img *ngIf="post?.coverImage != null" style="padding: 5px;;max-height: 500px" class="img-fluid " [src]="baseUrl + 'file/' + post?.coverImage?.id">
  </div>
  <div class="col-7">
    <h6 style="font-size: 14px;font-weight: bold;margin-top: 10px">{{post?.title}}</h6>
    <h6 style="font-size: 10px;margin-top: 10px">{{post?.publicationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</h6>
    <p  style="font-size: 12px;margin-top: 10px;text-justify: inter-word;line-height: 30px">{{post?.content}}</p>
  </div>
</div>



<div *ngIf="editable" class="row rtl">
  <div class="col-5">
    <img (click)="pickProfile.click()" *ngIf="post?.coverImage == null"  style="padding: 5px;;cursor: pointer" class="img-fluid img-thumbnail" src="../../../../assets/images/post-placeholder.png">
    <!--TODO uncomment and check -->
    <img (click)="pickProfile.click()" *ngIf="post?.coverImage != null" style="cursor: pointer;padding: 5px;max-height: 500px" class="img-fluid " [src]="baseUrl + 'file/' + post?.coverImage?.id">
  </div>
  <div class="col-7">
    <input #title type="text" placeholder="عنوان" style="font-size: 12px;margin-top: 10px" value="{{post?.title}}">
    <h6 *ngIf="post?.publicationDate != null" style="font-size: 9px;margin-top: 10px">{{timeAgo.format(post?.publicationDate) | persainNumberPipe}}</h6>
    <textarea #content placeholder="محتوا" style="height: 370px;font-size: 10px;margin-top: 10px;text-justify: inter-word;line-height: 30px">{{post?.content}}</textarea>
    <button (click)="onNewPost(title.value,content.value)" style="margin-left: auto;margin-right: auto" type="button" class="btn btn-sm btn-success " mdbWavesEffect> ذخیره</button>
  </div>

</div>



</div>

<input #pickProfile type="file" style="display: none"
       (change)="onPickCatImg($event)" multiple/><br/>

<app-footer></app-footer>

</div>
<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
