


<footer id="footer" class="page-footer font-small  pt-4 mt-4 footer-main" style="font-family: IRANYekanWeb">

  <div style="height: 100px; overflow: hidden;margin-top: -120px;background-color: transparent">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;transform: rotate(180deg);">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #236eb9;"></path>
    </svg>
  </div>
  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left ">
    <div class="row rtl">

      <!--First column-->
      <div class="col-6">
        <h6 class="text-uppercase" style="font-size: 16px">درباره پاسخ</h6>
        <p style="margin-top: 20px"> پلتفرم تعاملی مدیریت یادگیری</p>
        <p> ماموریت ما در پاسخ این است که اساتید و دانشجویان با بهره گیری از خدمات و محتوای آموزشی برتر، راه موفقیت را به آسانی طی کنند</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-3">

        <ul class="list-unstyled">
          <li>
            <a [href]="['contact-us']">تماس با ما</a>
          </li>
          <li>
            <a [href]="['policies']">شرایط و قوانین</a>
          </li>
          <li>
            <a [href]="['about-us']">درباره ما</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <a href="https://new.sibapp.com/applications/booksum"><img style="height: 70px" src="../../../assets/images/sib-app.png" alt=""></a>
        <a href="https://new.sibapp.com/applications/booksum"><img style="height: 70px" src="../../../assets/images/cafebazaar-app.png" alt=""></a>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright  text-center" style="font-size: 10px;position: absolute;bottom: 0px;width: 100%;">
    تمامی حقوق متعلق به پاسخ است
    <a > Pasokh20.com </a>
  </div>
  <!--/.Copyright-->

</footer>
