
h6{
  font-size: 16px;
}
li a{
  font-size: 12px;
}
.footer-main{
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #236eb9, #000C40);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #236eb9, #000C40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 200px;
}
p{
  font-size: 12px;
}

