<div  class="sign-bg">
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div [@flyInOut]="'in'" [@shakeAnimation] = "shakable" class="card" style="margin-top: 100px;padding: 30px">

        <h5  style="text-align: center">فراموشی رمز عبور</h5>
        <p  style="text-align: right;margin-top: 10px;margin-bottom: 5px!important;font-size: 10px" >آدرس ایمیل یا شماره تلفن خود را وارد نمایید</p>
        <p  style="text-align: right;margin-top: 0px;font-size: 10px" >یک پیامک و ایمیل حاوی رمز عبور جدید برای شما ارسال خواهد شد</p>
        <input  #empho type="text"  class="ip2" placeholder="شماره تلفن/ایمیل" style="text-align: center;margin-top: 20px"/>
        <button  type="button" style="margin-top: 20px;border-radius: 40px"  (click)="onForgot(empho.value)"  class="btn btn-danger waves-light" mdbWavesEffect>بازیابی رمز عبور</button>


      </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</div>
