<app-tutor-navbar [fontColor]="'#000000'"></app-tutor-navbar>

<br>
<br>

<br>
<br>
<div class="container" >
  <h5 style="font-weight: bold;text-align: right;color: #1A73E8;margin-right: 20px;margin-bottom: 20px">سوالات</h5>
    <div class="row">
      <div class="col-3">
        <label  class="chips-credit" style="float: right;margin-top: -50px">موجودی قابل تسویه : {{ availableMoney | persainNumberPipe }} تومان<i style="padding: 5px" class="fa fa-credit-card fa-1x" aria-hidden="true"></i></label>
        <label  class="chips-rate" style="float: right">    امتیاز پاسخ دهنده : {{ avgStar  | persainNumberPipe }}<i style="padding: 5px" class="fa fa-star-o fa-1x" aria-hidden="true"></i></label>
      </div>
      <div class="col-9">
        <label (click)="onSelectPublicQuestions()"  [ngClass]="{'select-tab': !directQuestions}" style="padding-bottom: 10px;cursor: pointer;float: right;;margin-top: 10px;font-size: 12px;font-weight: bold">  سوالات عمومی  </label>
        <label (click)="onSelectDirectQuestions()" [ngClass]="{'select-tab': directQuestions}" style="font-weight: bold;padding-bottom: 10px;cursor: pointer;float: right;margin-right: 20px;margin-top: 10px;font-size: 12px"> سوالات خصوصی   </label>
      </div>

    </div>


</div>


<div style="background-color: #eeeeee;padding-top: 30px;min-height: 400px;clear: both" >
  <div class="container main"  >
    <div style="cursor: pointer;" *ngFor="let q of questions;let i = index" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">
      <div [id]="'qq-' + i"  class="rtl question-row" [ngClass]="{'question-row-hover' : i == detailedQuestion}">

        <div (click)="onShowDetails(i,'#qq-' + i)" class="img-col">
          <img *ngIf="q.image == null" style="padding: 5px;" class="img-fluid q-img" src="../../../../assets/images/paper-placeholder.png">
          <!--TODO uncomment and check -->
          <img #qImg *ngIf="q.image != null" style="padding: 5px;" class="img-fluid q-img" [ngClass]="{'rotate90':rotateDeg == 90 && detailedQuestion == i,'rotate180':rotateDeg == 180 && detailedQuestion == i,'rotate270':rotateDeg == 270 && detailedQuestion == i,'rotate0':rotateDeg == 0 && detailedQuestion == i}" [src]="baseUrl + 'file/' + q.image.id">
          <div class="row " *ngIf="detailedQuestion == i" >
            <i (click)="onRotate()" class="fa fa-rotate-left prefix row "  style="color: white;text-align: center;padding: 5px 20px 5px 20px;background-color: #1A73E8;border-radius: 10px"></i>
          </div>
        </div>
        <div class="partiotions">
          <div (click)="onShowDetails(i,'#qq-' + i)" class="desc-col">
            <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">توضیح سوال:</h6>
            <p style="font-weight: bold;font-size: 12px;color: #2a2a2a">{{(detailedQuestion != i && (q.description.length>60))? (q.description | slice:0:60)+'..':(q.description) }}</p>

            <div *ngIf="q.questionState == 'Finished' || q.questionState == 'Accepted' ">
              <h6 style="font-size: 14px;font-weight: bold">پاسخ دهنده:</h6>
              <p *ngIf="q.responder!=null" style="font-size: 12px;color: #2a2a2a">{{q.responder?.firstName + ' ' + q.responder?.lastName}}</p>
              <p *ngIf="q.responder==null" style="font-size: 12px;color: #2a2a2a">منتظر پاسخ دهنده</p>
            </div>
          </div>
          <div (click)="onShowDetails(i,'#qq-' + i)" class="detail-col">
            <star-rating *ngIf="q.questionState == 'Finished'" style="margin-top: 20px;margin-bottom: 20px;text-align: right;justify-content: right" [getHalfStarClass]="false" [starType]="'svg'" [rating]="q.rate"></star-rating>
            <label *ngIf="q.questionState != 'Finished'" class="chips-success" style="">{{q.questionTopic|enumPipe}}</label>

            <div>
              <label *ngIf="q.questionState == 'Finished'" class="chips-success" style="">پاسخ داده شده</label>
              <label *ngIf="q.questionState == 'Pending'" class="chips-warning" style="">منتظر پاسخ گو</label>
            </div>
            <div>
              <label class="chips-grey" style=";">{{q.creationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</label>
            </div>
          </div>
          <br>
          <div class="bid-section" *ngIf="!directQuestions"  style="width: 100%;" >
            <mat-radio-group class="example-radio-group" [selected]="bid" >
              <mat-radio-button *ngIf="!directQuestions" #bid class="example-radio-button" [color] = "'primary'" [value]="'bid'">
                ارزش گذاری سوال:
              </mat-radio-button>
                <h6 style="font-size: 12px;margin-top: 20px;float: left ">{{  slider.value * creditValue + ' تومان ' |persainNumberPipe}}</h6>
                <br >
                <span  style="clear: both"></span>
                <mat-slider
                  #slider
                  class="example-margin"
                  [disabled]="false"
                  [invert]="invert"
                  [max]="8"
                  [min]="0"
                  [step]="1"

                  [color] = "'primary'"
                  [thumbLabel]="thumbLabel"
                  [tickInterval]="tickInterval"
                >
                </mat-slider>
              <br>



              <mat-radio-button #report class="example-radio-button" [color] = "'primary'" [value]="'report'">
                گزارش تخلف:
              </mat-radio-button>
              <p style="font-weight: bold;font-size: 12px;">در صورت اشکال در صورت سوال لطفا گزارش خود را ارسال فرمایید:</p>
              <span  *ngIf="reportTypeSelect.length > 0">
                        <ng-select
                          #publicRep
                          [options]="reportTypeSelect"
                          (selected)="onSelectReport($event,q)">
                        </ng-select>
               </span>
               <input #pubDescRep type="text" style="font-size: 12px;text-align: right;margin-top: 20px" placeholder="توضیح(اختیاری)">
            </mat-radio-group>
            <div class="row" style=";clear: both;margin-top: 20px;">
              <button (click)="onBid(i,q,slider.value)" class="btn btn-sm btn-success" [disabled] ="report?.checked" style=";border-radius: 40px;width: 45%">ثبت پیشنهاد</button>
              <button (click)="onReport(q,pubDescRep.value,i)" class="btn btn-sm btn-warning" [disabled] ="bid?.checked" style=";border-radius: 40px;width: 45%">ثبت گزارش</button>
            </div>
          </div>
          <div class="bid-section" *ngIf="directQuestions"  style="width: 100%;" >
              <h6 style="font-weight: bold;font-size: 13px;text-align: right">گزارش تخلف:</h6>
              <p style="font-weight: bold;font-size: 12px;">در صورت اشکال در صورت سوال لطفا گزارش خود را ارسال فرمایید:</p>
              <span  *ngIf="reportTypeSelect.length > 0">
                        <ng-select
                          #field
                          [options]="reportTypeSelect"
                          (selected)="onSelectReport($event,q)">
                        </ng-select>
              </span>
              <input #dirDescRep type="text" style="font-size: 12px;text-align: right;margin-top: 20px" placeholder="توضیح(اختیاری)">
            <div  style=";clear: both;margin-top: 20px;width: 100%">
              <button (click)="onAccept(q)" class="btn btn-sm btn-success"  style=";border-radius: 40px;width: 30%">پذیرفتن</button>
              <button (click)="onReport(q,dirDescRep.value,i)" class="btn btn-sm btn-warning"  style=";border-radius: 40px;width: 30%">ثبت گزارش</button>
              <button (click)="onReject(q,i)" class="btn btn-sm btn-danger"  style=";border-radius: 40px;width: 30%">رد کردن سوال</button>
            </div>
          </div>
        </div>


      </div>
      <hr style="margin-top: 20px">
    </div>
    <div *ngIf="questions.length == 0;">
      <p style="direction: rtl;line-height: 400px;text-align: center;color: #1A73E8;font-size: 12px">{{mess}}</p>
    </div>

  </div>
</div>


<app-footer></app-footer>




<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
