<div class="main">


<app-tutor-navbar *ngIf="userType == 'ROLE_TUTOR'" [fontColor]="'#000000'"></app-tutor-navbar>
<app-student-navbar [fabButton]="false" *ngIf="userType == 'ROLE_STUDENT'" [fontColor]="'#000000'"></app-student-navbar>
<app-employee-navbar [fontColor]="'#000000'" *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'"> </app-employee-navbar>

<br>
<br>
<br>
<br>
<div class="container" style="margin-top: 10px">
  <div (click)="onShowPostDetails(post)" class="row rtl hoverable post-item" style="cursor: pointer;padding: 20px" *ngFor="let post of posts">
     <div class="col-2">
       <img *ngIf="post.coverImage == null"  style="padding: 5px;height: 100px" class="img-fluid img-thumbnail" src="../../../../assets/images/paper-placeholder.png">
       <!--TODO uncomment and check -->
       <img *ngIf="post.coverImage != null" style="padding: 5px;height: 120px;width: 150px" class="img-fluid img-thumbnail" [src]="baseUrl + 'file/' + post.coverImage.id">
     </div>
    <div class="col-10">
      <i *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'"  style="float: left;padding: 10px" class="fa fa-pencil prefix edit-post"></i>
      <i *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'" (click)="onDeletePost()"  style="float: left;padding: 10px" class="fa fa-remove prefix edit-post"></i>
      <h6 style="font-size: 14px;font-weight: bold;margin-top: 10px">{{post.title}}</h6>
      <h6 style="font-size: 10px;margin-top: 10px">{{post.publicationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</h6>
      <p class="max-lines" style="font-size: 12px;margin-top: 10px">{{post.content}}</p>
    </div>
  </div>
  <br>
  <button *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'" (click)="onNewPost()"  type="button" class="btn btn-sm btn-success " mdbWavesEffect>افزودن پست</button>

</div>
<app-footer></app-footer>
</div>



