.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5em;
  line-height: 1.8em;

}
.edit-post{
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.post-item:hover .edit-post{
  opacity: 1;
}
