<div class="main">
<app-financial-nav  [fontColor]="'#000000'" [title]="'پنل مالی پاسخگو'" ></app-financial-nav >

<p>
  tutor-transactions works!
</p>

<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>

<div class="container" style="margin-top: 100px" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100" >

      <!--<div class="row rtl" style="cursor: pointer" *ngFor="let eq of endedQuestions">-->
        <!--<div class="col-2">-->
          <!--<p style="text-align: right;font-size: 12px;width: 100%;direction: rtl">{{eq.question.questionTopic|enumPipe}}</p>-->
        <!--</div>-->
        <!--<div class="col-2">-->
          <!--<p style="text-align: right;font-size: 12px;width: 100%;direction: rtl">{{eq.question.grade|enumPipe}}</p>-->
        <!--</div>-->
        <!--<div class="col-3">-->
          <!--<p style="text-align: right;font-size: 12px;width: 100%;direction: rtl">{{timeAgo.format(eq.creationDate)|persainNumberPipe}}</p>-->
        <!--</div>-->
        <!--<div class="col-2">-->
          <!--<p style="text-align: right;font-size: 12px;width: 100%;direction: rtl"> {{eq.bid * eq.credit * creditValue | persainNumberPipe}} تومان</p>-->
        <!--</div>-->
        <!--<div class="col-3">-->
          <!--<p [ngClass]="{'red-color':eq.endedQuestionState == 'Completed','green-color':eq.endedQuestionState == 'Archived'}" style="text-align: left;font-size: 12px;width: 100%;direction: rtl"> {{eq.endedQuestionState | enumPipe}} </p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<hr>-->
      <table class="table rtl table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>موضوع</th>
          <th>مقطع</th>
          <th>تاریخ</th>
          <th>مبلغ</th>
          <th>وضعیت</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let eq of endedQuestions;let i = index" >
          <td>{{ i+1}}</td>
          <td>{{eq.question.questionTopic|enumPipe}}</td>
          <td>{{eq.question.grade|enumPipe}}</td>
          <td>{{eq.creationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</td>
          <td>{{eq.bid * eq.credit * creditValue | persainNumberPipe}} تومان</td>
          <td [ngClass]="{'red-color':eq.endedQuestionState == 'Completed','green-color':eq.endedQuestionState == 'Archived'}" >{{eq.endedQuestionState | enumPipe}} </td>
        </tr>
        </tbody>
      </table>

  </div>

  <app-footer></app-footer>
</div>

<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
