<mdb-navbar class="rtl" [ngClass]="{'fixed-top' : isFixed}"  SideClass="navbar navbar-expand-lg navbar-light lighten-5   scrolling-navbar">
  <logo>
    <a style="font-size: 18px;font-weight: bold;" [ngStyle]="{'color': fontColor}" class="navbar-brand" href="#">پاسخ</a>
  </logo>
  <links>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">

        <li *ngIf="user == null" class="nav-item">
          <a  [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['signUp']">   ثبت نام<span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="user == null" class="nav-item">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['signIn']"> ورود </a>
        </li>
        <li *ngIf="user != null && userType == 'ROLE_STUDENT'" class="nav-item" style="width: auto">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['student/questionList']">  پنل دانش آموز </a>
        </li>
        <li *ngIf="user != null && userType == 'ROLE_TUTOR'" class="nav-item" style="width: auto">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['tutor/questionList']">  پنل پاسخ دهنده </a>
        </li>
        <li *ngIf="user != null && userType == 'ROLE_EMPLOYEE'" class="nav-item" style="width: auto">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['employee/user-list']">  پنل کارمندان </a>
        </li>
        <li *ngIf="user != null && userType == 'ROLE_ADMIN'" class="nav-item" style="width: auto">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" [href]="['employee/user-list']">  پنل مدیریت </a>
        </li>
        <li *ngIf="user != null" class="nav-item">
          <a [ngStyle]="{'color': fontColor}" class="nav-link" (click)="onLogout()"> خروج </a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a [ngStyle]="{'color': fontColor}" class="nav-link" href="#">  وبلاگ </a>-->
        <!--</li>-->
      </ul>
    </div>
  </links>
</mdb-navbar>
