<div class="main">
  <app-employee-navbar [fontColor]="'#000000'"></app-employee-navbar>


  <div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container" >
      <div class="row rtl" style="clear: both">
        <div class=" col-lg-3 col-md-4 col-sm-6" *ngFor="let perchase of availablePurchase;let i = index"  style="padding: 20px;width: 100%;" >
          <div class="card" [ngClass]="{'notShown':!perchase.isShow}" style="width: 100%;">
            <!--<button class="btn btn-sm btn-danger " style="padding: 10px;position: absolute;top: 10px;right: 10px">X</button>-->
            <img  [src]="baseFile + 'file/' + perchase.image?.id + '?isThumb=true'" style="width: 100%;height: 200px;padding: 20px">


            <p  style="font-size: 12px;text-align: center;margin-bottom: 5px">{{perchase.title}}</p>
            <div class="row">
              <div class="col-6">
                <label style="font-size: 12px;;text-align: right;padding-top: 10px;color: #08a121" >{{perchase.price|persainNumberPipe}}  </label> <label style="font-size: 12px;;text-align: right;padding-top: 10px;padding-right: 10px;color: #08a121">تومان</label>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-warning" (click)="onEditPurchase(perchase,purchaseModal)" style="margin-bottom: 16px">ویرایش</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-success btn-sm" (click)="onNewPurchase(purchaseModal)" style="width: 20%;margin-left: 40%">افزودن بسته</button>

    </div>
  </div>

  <br>
  <br>
  <br>



  <app-footer></app-footer>
</div>

<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>



<div mdbModal #purchaseModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <p class="heading lead" *ngIf="isNewPurchase" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">افزودن بسته</p>
        <p class="heading lead" *ngIf="!isNewPurchase" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">ویرایش بسته</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="purchaseModal.hide()">
          <span  aria-hidden="true" style="cursor: pointer" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" style="font-size: 12px">


          <div class="md-form" style="margin-top: 10px">
            <i class=" prefix "></i>
            <!--<input #title type="text" style="text-align: center" [value]="selectedPurchase?.title">-->
            <input #title type="text" id="title"  style="text-align: right" [value]="selectedPurchase?.title" class="form-control" mdbInputDirective>
            <label for="title" style="direction: rtl">عنوان بسته</label>
          </div>

          <img *ngIf="selectedPurchase?.image != null" style="margin-top: 10px;display: block;margin-right: auto;margin-left: auto;height: 200px" (click)="pickProfile.click()"  [src]="baseFile + 'file/' + selectedPurchase?.image?.id " >
          <img *ngIf="selectedPurchase?.image == null" style="margin-top: 10px;display: block;margin-right: auto;margin-left: auto;height: 200px" (click)="pickProfile.click()"  src="../../../../assets/images/post-placeholder.png" >
          <input #pickProfile type="file" style="display: none"
                 (change)="onPickCatImg($event)" multiple/><br/>

        <div class="row rtl">
          <div class="col-6">
            <div class="md-form" style="margin-top: 10px">
              <i class=" prefix "></i>
              <input #price type="text" id="price"  style="text-align: right" [value]="selectedPurchase?.price" class="form-control" mdbInputDirective>
              <label for="price" style="direction: rtl">قیمت بسته(تومان)</label>
            </div>
          </div>
          <div class="col-6">
            <div class="md-form" style="margin-top: 10px">
              <i class=" prefix "></i>
              <input #credit type="text" id="creditt"  style="text-align: right" [value]="selectedPurchase?.credit" class="form-control" mdbInputDirective>
              <label for="creditt" style="direction: rtl">  ارزش بسته(ایپاسخ)</label>
            </div>
          </div>
        </div>
          <label style="margin-top: 5px;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl"  class="grey-text">وضعیت:</label>

          <br>

          <mat-radio-group (change)="onChangeShowState($event)" [selected]="selectedPurchase?.isShow == null ? show : (selectedPurchase?.isShow ? show : notShow)" style="">
            <mat-radio-button #show   value="show"> فعال</mat-radio-button>
            <mat-radio-button #notShow  value="notShow"> غیرفعال</mat-radio-button>
          </mat-radio-group>



        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal" (click)="purchaseModal.hide()" mdbWavesEffect>بستن</button>
        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" (click)="onSavePurchase(purchaseModal,title.value,price.value,credit.value)" mdbWavesEffect>ذخیره</button>
      </div>
    </div>
  </div>
</div>



