<div class="main" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">
<app-employee-navbar [fontColor]="'#000000'"></app-employee-navbar>

<div id="sub-nav">
  <div class="container">
    <links >
      <ul>
        <li><a (click)="onSelectQuestionReports()" [ngClass]="{'select-tab':showQuestionReports}" >شکایت از سوالات</a></li>
        <li><a (click)="onSelectComplaintReports()"  [ngClass]="{'select-tab':!showQuestionReports}" >شکایت از پاسخ گو</a></li>
      </ul>
    </links>
  </div>
</div>
<div class="container-fluid" style=";" *ngIf="!showQuestionReports">
  <div class="container"  style="padding-top: 100px;">
    <br>
    <div class="row rtl">
      <div class="col-4">
        <h6 style="text-align: right;font-size: 12px;font-weight: bold">انتخاب نوع شکایت:</h6>
        <div *ngIf="topicsSelect.length > 0" style="margin-top: 5px;margin-bottom: 15px">
          <ng-select
            [options]="topicsSelect"
            (selected)="onChangeComplaintType($event)">
          </ng-select>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
<div class="container-fluid" style=";" *ngIf="!showQuestionReports">
  <div class="container" style="">
    <table class="table rtl table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>توضیح</th>
        <th>موضوع شکایت</th>
        <th>تاریخ شکایت</th>
        <th>جلسه</th>
        <th>پاسخ دهنده</th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor: pointer" *ngFor="let cr of complaintReports;let i = index"  >
        <td>{{ i+1}}</td>
        <td>{{cr.description}}</td>
        <td>{{cr.reportTopic|enumPipe}}</td>
        <td>{{cr.creationDate|jalaliPipe|persainNumberPipe}}</td>
        <td> <button (click)="onShowChatroom(cr.question)" class="btn btn-sm btn-success">مشاهده جلسه</button> </td>
        <td> <button (click)="onShowResponder(cr.question)" class="btn btn-sm btn-success">مشاهده پاسخ دهنده</button> </td>
        <!--<td>{{cr.question.grade|enumPipe}}</td>-->

      </tr>
      </tbody>
    </table>
    <p  *ngIf="complaintReports.length == 0" style="font-size: 14px;font-weight: bold;text-align: center;margin-top: 50px;color: orangered">موردی وجود ندارد</p>
  </div>
</div>



<div class="container-fluid" style=";" *ngIf="showQuestionReports">
  <div class="container"  style="padding-top: 100px;">
    <br>
    <div class="row rtl">
      <div class="col-4">
        <h6 style="text-align: right;font-size: 12px;font-weight: bold">انتخاب نوع شکایت:</h6>
        <div *ngIf="questionReportSelect.length > 0" style="margin-top: 5px;margin-bottom: 15px">
          <ng-select
            [options]="questionReportSelect"
            (selected)="onChangeQuestionReportType($event)">
          </ng-select>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
<div class="container-fluid" style=";" *ngIf="showQuestionReports">
  <div class="container" style="">
    <table class="table rtl table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>شناسه سوال</th>
        <th>توضیح</th>
        <th>موضوع شکایت</th>
        <th>تاریخ شکایت</th>
        <th>دانش آموز</th>
        <th>سوال</th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor: pointer" *ngFor="let qr of questionReports;let i = index"  >
        <td>{{ i+1}}</td>
        <td>{{qr.question.id}}</td>
        <td>{{qr.description}}</td>
        <td>{{qr.reportType|enumPipe}}</td>
        <td>{{qr.creationDate|jalaliPipe|persainNumberPipe}}</td>
        <td> <button (click)="onShowQuestioner(qr.question)" class="btn btn-sm btn-success">مشاهده دانش آموز</button> </td>
        <td> <button (click)="onShowQuestion(qr.question,questionModal)" class="btn btn-sm btn-success">مشاهده سوال</button> </td>
        <!--<td>{{cr.question.grade|enumPipe}}</td>-->

      </tr>
      </tbody>
    </table>
    <p  *ngIf="questionReports.length == 0" style="font-size: 14px;font-weight: bold;text-align: center;margin-top: 50px;color: orangered">موردی وجود ندارد</p>
  </div>
</div>








<app-footer></app-footer>

</div>



<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>



<div mdbModal #questionModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <p class="heading lead" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">{{selectedQuestion?.grade|enumPipe}} - {{selectedQuestion?.questionTopic|enumPipe}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="questionModal.hide()">
          <span  aria-hidden="true" style="cursor: pointer" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" style="font-size: 12px">
          <p> {{selectedQuestion?.description}}</p>
          <img style="margin-top: 10px;display: block;margin-right: auto;margin-left: auto;width: 70%"  [src]="baseFile + 'file/' + selectedQuestion?.image?.id " >
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal" (click)="questionModal.hide()" mdbWavesEffect>بستن</button>

      </div>
    </div>
  </div>
</div>
