
#sub-nav{
  top: 50px;
  position: fixed;
  transition: all 1s;
  -webkit-transition: all 1s;
  background-color: white;
  width: 100%;
  height: 45px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}


#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#sub-nav li {
  float: right;
}

#sub-nav li a {
  display: block;
  color: #0f9d58;
  text-align: center;
  padding: 10px 8px 0px 8px;
  text-decoration: none;
  line-height: 35px;
  font-size: 12px;
  font-weight: bold;
}

#sub-nav li a:hover {

}
.test{
  border-bottom: solid 2px #0f9d58;
  padding-bottom: 0px!important;
}


.select-tab{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0f9d58;
}
td{
  font-size: 12px;
}
th{
  font-size: 13px;
  font-weight: bold;
  //border-radius: 5px;
}
