<app-student-navbar [fontColor]="'#000000'"></app-student-navbar>

<br>
<br>

<br>
<br>
<div class="container" >
  <h5 style="font-weight: bold;text-align: right;color: #1A73E8;margin-right: 20px;margin-bottom: 20px">سوالات شما</h5>
  <label (click)="onSelectCredits()"  class="chips-credit" style="font-size: 12px;font-weight: bold;cursor: pointer;float: right;margin-right: 20px;margin-bottom: 20px">     اعتبار شما : {{ credit + ' ' + creditScale | persainNumberPipe}}<i style="padding: 5px;" class="fa fa-credit-card fa-1x" aria-hidden="true"></i></label>
  <label (click)="onSelectWaitingQuestions()"  [ngClass]="{'select-tab':waitingQuestions}" style="font-weight: bold;font-size: 12px;padding-bottom: 10px;cursor: pointer;float: left;margin-left: 100px;margin-top: 10px;">  سوالات در صف انتظار  </label>
  <label (click)="onSelectAcceptedQuestions()" [ngClass]="{'select-tab': !waitingQuestions}" style="font-weight: bold;font-size: 12px;padding-bottom: 10px;cursor: pointer;float: left;margin-left: 20px;margin-top: 10px;"> سوالات پذیرفته شده   </label>
</div>


<div style="background-color: #eeeeee;padding-top: 30px;clear: both;min-height: 400px" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100" >
  <div class="container main"  >
      <div style="cursor: pointer;" *ngFor="let q of questions" (click)="onClickQuestion(q)">
      <div class="row rtl">
        <div class="col-2">
          <img *ngIf="q.image == null" style="padding: 5px;height: 100px" class="img-fluid" src="../../../../assets/images/paper-placeholder.png">
          <!--TODO uncomment and check -->
          <img *ngIf="q.image != null" style="padding: 5px;height: 100px;width: 120px" class="img-fluid" [src]="baseUrl + 'file/' + q.image.id">
        </div>
        <div class="col-7">
          <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">توضیح سوال:</h6>
          <p style="font-size: 12px;color: #2a2a2a">{{ (q.description.length>60)? (q.description | slice:0:60)+'..':(q.description) }}</p>

          <div *ngIf="q.questionState == 'Finished' || q.questionState == 'Accepted' ">
            <h6 style="font-size: 14px;font-weight: bold">پاسخ دهنده:</h6>
            <p *ngIf="q.responder!=null" style="font-size: 12px;color: #2a2a2a">{{q.responder?.firstName + ' ' + q.responder?.lastName}}</p>
            <p *ngIf="q.responder==null" style="font-size: 12px;color: #2a2a2a">منتظر پاسخ دهنده</p>
          </div>
        </div>
        <div class="col-3">

          <star-rating *ngIf="q.questionState == 'Finished'" style="margin-top: 20px;margin-bottom: 20px;text-align: right;justify-content: right" [getHalfStarClass]="false" [starType]="'svg'" [rating]="q.rate"></star-rating>
          <label *ngIf="q.questionState != 'Finished'" class="chips-success" style="">{{q.questionTopic|enumPipe}}</label>

          <div>
            <label *ngIf="q.questionState == 'Finished'" class="chips-success" style="">پاسخ داده شده</label>
            <label *ngIf="q.questionState == 'Pending'" class="chips-warning" style="">منتظر پاسخ گو</label>
          </div>
          <div>
            <label class="chips-grey" style=";">{{q.creationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</label>
          </div>
        </div>
      </div>
      <hr>
    </div>
      <div *ngIf="questions.length == 0;">
        <p style="direction: rtl;line-height: 400px;text-align: center;color: #1A73E8;font-size: 12px">{{mess}}</p>
      </div>
  </div>
</div>


<app-footer></app-footer>




<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
