@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.chips-success{
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #0f9d58;
  border-radius: 10px;
}

.chips-warning{
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #d14836;
  border-radius: 10px;
}

.chips-grey{

  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #666666;
  border-radius: 10px;
}
.chips-credit{
  padding: 7px;
  font-size: 10px;
  color: white;
  background-color: #3f76d3;
  border-radius: 15px;
}

.select-tab{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #2f5bb7;
}
