<div class="main">
<app-financial-nav  [fontColor]="'#000000'" [title]="'پنل مالی پاسخگو'" ></app-financial-nav >


<br>
<br>
<br>

  <div  class="sign-bg" style="padding-bottom: 30px">
    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10">
        <div   class="card" style="margin-top: 60px;padding: 30px">
          <form>
            <div class="row rtl">
              <div class="col-12">
                <h6  style="text-align: center;color: #de4e2d">مشخصات حساب</h6>


                <label style="font-weight: bold;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="postalCode" class="grey-text">کد پستی:</label>
                <input #postalCode style="font-size: 12px;text-align: right;padding-top: 0px" type="text" id="postalCode" [value]="tutor?.postalCode == null ? '' : tutor?.postalCode" class="form-control">


                <label style="font-weight: bold;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="shabaCode" class="grey-text">شماره شبا:</label>
                <input #shabaCode [value]="tutor?.shabaCode == null ? '' : tutor?.shabaCode" style="text-align: right;;padding-top: 0px;font-size: 12px" type="text" id="shabaCode" class="form-control">

                <label style="font-weight: bold;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="nationalCode" class="grey-text">کد ملی:</label>
                <input #nationalCode style="font-size: 12px;text-align: right;padding-top: 0px" type="text" id="nationalCode" [value]="tutor?.nationalCode == null ? '' : tutor?.nationalCode" class="form-control">

                <label style="font-weight: bold;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="address" class="grey-text">آدرس:</label>
                <input #address style="font-size: 12px;text-align: right;padding-top: 0px" type="text" id="address" [value]="tutor?.address == null ? '' : tutor?.address" class="form-control">


                <button (click)="pickNationalImg.click()"  type="button" style="border-radius: 40px;width: 40%;margin-right: 30%;margin-left: 10%"   class="btn btn-success waves-light" mdbWavesEffect>انتخاب تصویر کارت ملی</button>
                <img *ngIf="nationalImg == null" style="margin-top: 10px;width: 180px;height: 140px;display: block;margin-left: auto;margin-right: auto" class="img-fluid  "  src="../../../../../assets/images/card.png">
                <img *ngIf="nationalImg != null" style="margin-top: 10px;width: 240px;height: 180px;display: block;margin-left: auto;margin-right: auto" class="img-fluid z-depth-1 "  [src]="baseUrl + 'file/' + nationalImg.id">

                <input #pickNationalImg type="file" style="display: none"
                       (change)="onPickNationalImg($event)" multiple/><br/>
              </div>


              <button (click)="onEdit(postalCode.value,shabaCode.value,nationalCode.value,address.value)"  type="button" style="border-radius: 40px;width: 40%;margin-top: 50px;margin-right: 30%;margin-left: 30%"   class="btn btn-primary waves-light" mdbWavesEffect>بررسی مشخصات</button>

            </div>



          </form>

        </div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
  </div>

<app-footer></app-footer>

</div>

  <div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
    <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
    <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
      در حال بارگزاری
    </p>
  </div>








