<div class="main" style="background-color: white">


<app-main-navbar [fontColor]="'#ffffff'" [isFixed]="true"></app-main-navbar>

<div class="land-bg" style="height: 800px">
  <img class="wow fadeIn" style="position: absolute;height: 500px;top: 150px;right: 15%;z-index: 1000" src="../../../assets/images/ss1.png">
  <img class="wow fadeIn"  style="position: absolute;height: 300px;top: 370px;right: 20%;z-index: 1000" src="../../../assets/images/desctopss.png">
  <!--<img  style="position: absolute;height: 450px;top: 200px;right: 15%;z-index: 10000" src="../../../assets/images/mobiless1.png">-->
  <div style="width: 400px;position: absolute;margin-top: 100px;margin-left: 20%">
    <p class="wow fadeIn" style="font-family: 'Mj_Flow';;font-size: 56px;color: white;text-align: center">پاسخ</p>
    <p class="wow fadeIn" style=";;font-size: 14px;color: #eeeeee;margin-top: 20px;text-align: center">یک خط شعار سامانه</p>
  </div>
  <div style="width: 300px;position: absolute;margin-left: 10%;margin-top: 400px">
    <a href="https://new.sibapp.com/applications/booksum"><img style="height: 70px" src="../../../assets/images/sib-app.png" alt=""></a>
    <a href="https://new.sibapp.com/applications/booksum"><img style="height: 70px" src="../../../assets/images/cafebazaar-app.png" alt=""></a>
  </div>

</div>
<div style="height: 200px; overflow: hidden;margin-top: -240px;" class="wow fadeIn">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;transform: rotate(180deg);">
    <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: white;"></path>
  </svg>
</div>

<div class="presentation-part-odd">

</div>
<div class="presentation-part-even wow fadeIn" style="z-index: 10" >
  <h5 style="text-align: center;padding: 20px;font-weight: bold" >
    کار‌های وقت گیر کلاس را در هر زمان و مکان مدیریت کنید
  </h5>
  <img class="img-fluid" src="../../../assets/images/lpi1.png" style="margin-left: auto;margin-right: auto;display: block;margin-bottom: 0px;padding-bottom: 50px">
</div>

<div style="height: 200px;width: 100%;background-color: white">

</div>
<div style="height: 100px; overflow: hidden;margin-top: -240px;" class="wow fadeIn">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;transform: rotate(180deg)  scaleX(-1);">
    <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #8ac491;"></path>
  </svg>
</div>

<div class="presentation-part-odd wow fadeIn">
  <h5 style="text-align: center;padding: 20px;font-weight: bold" >
    کار‌های وقت گیر کلاس را در هر زمان و مکان مدیریت کنید
  </h5>
  <div class="row rtl">
    <div class="col-md-1 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
      <h6 style="text-align: center;margin-top: 50px;font-size: 16px;font-weight: bold">کاهش زمان و هزینه در فرآیند دریافت تکالیف</h6>
      <p style="font-size: 13px;text-align: right;text-justify: auto">
        در فضایی نامحدود، در کمترین زمان کلاس‌هایتان را بسازید و تمرین‌ها، منابع درسی و اطلاعیه‌ها را ارسال کنید.
        به جای دریافت کاغذ و CD از دانشجویان خود، دریافت و نگه‌داری تکالیف را به  یونش بسپارید
      </p>
    </div>
    <div class="col-md-1 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <img class="img-fluid" src="../../../assets/images/lpi2.png" style="margin-left: auto;margin-right: auto;display: block;margin-bottom: 30px">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="height: 100px; overflow: hidden;margin-top: -240px;" class="wow fadeIn">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;transform: rotate(180deg);">
    <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: white;"></path>
  </svg>
</div>

<div class="presentation-part-even wow fadeIn">
  <h5 style="text-align: center;padding: 20px;font-weight: bold" >
    کار‌های وقت گیر کلاس را در هر زمان و مکان مدیریت کنید
  </h5>
  <div class="row">
    <div class="col-md-1 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
      <h6 style="text-align: center;margin-top: 50px;font-size: 16px;font-weight: bold">کاهش زمان و هزینه در فرآیند دریافت تکالیف</h6>
      <p style="font-size: 13px;text-align: right;text-justify: auto">
        در فضایی نامحدود، در کمترین زمان کلاس‌هایتان را بسازید و تمرین‌ها، منابع درسی و اطلاعیه‌ها را ارسال کنید.
        به جای دریافت کاغذ و CD از دانشجویان خود، دریافت و نگه‌داری تکالیف را به یونش بسپارید
      </p>
    </div>
    <div class="col-md-1 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <img class="img-fluid" src="../../../assets/images/lpi3.png" style="margin-left: auto;margin-right: auto;display: block;margin-bottom: 30px">
    </div>
  </div>
</div>



<app-footer></app-footer>


</div>

