.land-bg{
  //background-image: U;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background-image: url("../../../assets/images/landing-bg1.jpg");
  //background-attachment: fixed!important;
  //background-size: cover;

  //background: #00F260;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.presentation-part-odd
{
   background-color: #8ac491;
}

.presentation-part-even
{
  background-color: white;
}
p{
  font-size: 10px;
}


