<div class="main">
<app-student-navbar *ngIf="forStudent" [fontColor]="'#000000'"></app-student-navbar>
<app-tutor-navbar *ngIf="!forStudent" [fontColor]="'#000000'"></app-tutor-navbar>

<br>
<br>
<div class="container" style="">
  <vertical-timeline detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">

    <!-- Add some cards to the timeline. It works with *ngFor too -->

    <!-- If no value is passed for the date, the current time is used. -->
    <!--<vertical-timeline-card-->
      <!--[timeString]="'15:19'">-->
        <!--<label style=" ;padding: 5px 20px 5px 20px;background-color: #1A73E8;margin-top: -20px;margin-right: -20px;position: relative;top: 0px;right: 0px;color: #fafafa;text-align: right;float: right;">{{myDate|jalaliPipe}}</label>-->
        <!--<h6 style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block">یک سوال پرسیده شد</h6>-->
    <!--</vertical-timeline-card>-->

    <!--<vertical-timeline-card-->
      <!--[timeString]="'15:19'">-->
      <!--<label style=" ;padding: 5px 20px 5px 20px;background-color: #1A73E8;margin-top: -20px;margin-right: -20px;position: relative;top: 0px;right: 0px;color: #fafafa;text-align: right;float: right;">{{myDate|jalaliPipe}}</label>-->
      <!--<h6 style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block">یک سوال پرسیده شد</h6>-->
    <!--</vertical-timeline-card>-->

    <!--<vertical-timeline-card-->
      <!--[timeString]="'15:19'">-->
      <!--<label style=" ;padding: 5px 20px 5px 20px;background-color: #1A73E8;margin-top: -20px;margin-right: -20px;position: relative;top: 0px;right: 0px;color: #fafafa;text-align: right;float: right;">{{myDate|jalaliPipe}}</label>-->
      <!--<h6 style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block">یک سوال پرسیده شد</h6>-->
    <!--</vertical-timeline-card>-->

    <!--<vertical-timeline-card-->
      <!--[timeString]="'15:19'">-->
      <!--<label style=" ;padding: 5px 20px 5px 20px;background-color: #1A73E8;margin-top: -20px;margin-right: -20px;position: relative;top: 0px;right: 0px;color: #fafafa;text-align: right;float: right;">{{myDate|jalaliPipe}}</label>-->
      <!--<h6 style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block">یک سوال پرسیده شد</h6>-->
    <!--</vertical-timeline-card>-->
    <!--timeString="{{(myDate.getTime()|date:'shortTime'|persainNumberPipe).substring(0,5)}}"-->
    <vertical-timeline-card *ngFor="let tl of timelines"
      timeString="{{(tl.questionTopic != null? tl.questionTopic  : 'امتیاز' )|enumPipe}}"

    >
      <label style="border-bottom-left-radius: 12px;border-top-right-radius: 12px;font-size: 12px ; direction: rtl ;padding: 5px 20px 5px 20px;background-color: #1A73E8;margin-top: -20px;margin-right: -20px;position: relative;top: 0px;right: 0px;color: #fafafa;text-align: right;float: right;">{{tl.creationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</label>

      <h6 *ngIf="tl.eventType == 'NewQuestion'" style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block">یک سوال در زمینه {{tl.questionTopic|enumPipe}} پرسیده شد</h6>
      <h6 *ngIf="tl.eventType == 'NewAnswer'" style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block"> {{tl.responder.firstName + ' ' + tl.responder.lastName}} به یک سوال در زمینه پاسخ {{tl.questionTopic|enumPipe}} داد</h6>
      <h6 *ngIf="tl.eventType == 'TakenStar'" style="padding-top: 10px;font-size: 12px;clear: both;text-align: right;display: block"> {{tl.responder.firstName + ' ' + tl.responder.lastName}} امتیاز {{tl.star|persainNumberPipe}} ستاره دریافت کرد </h6>

    </vertical-timeline-card>


    </vertical-timeline>

</div>
  <app-footer></app-footer>
</div>


<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>

