<div class="main">
<app-student-navbar [fontColor]="'#121212'"></app-student-navbar>

<div class="container" style="" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">

  <br>
  <br>
  <br>
  <br>
  <table class="table rtl table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>توضیح</th>
      <th>مبلغ</th>
      <th>تاریخ</th>
      <th>وضعیت</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tr of transactions;let i = index" >
      <td>{{ i+1}}</td>
      <td>{{tr.description}}</td>
      <td>{{tr.amount|persainNumberPipe}} تومان</td>
      <td>{{tr.creationDate|jalaliPipe|persainNumberPipe}}</td>
      <td>{{tr.paymentState}}</td>

    </tr>
    </tbody>
  </table>


</div>
<app-footer></app-footer>
</div>


<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
