<div class="main">
  <app-employee-navbar [fontColor]="'#000000'"></app-employee-navbar>


  <br>
  <br>
  <br>
  <br>
  <div class="container card">
    <!--<div class="avatar">-->
    <!--<img *ngIf="student?.profileImage == null" src="../../../../assets/images/teacher_1.png" class="rounded-circle">-->
    <!--<img *ngIf="student?.profileImage != null" [src]="baseFile + 'file/' + student?.profileImage?.id + '?isThumb=true'" class="rounded-circle">-->
    <!--</div>-->
    <p class="text-center" style="margin-top: 10px">افزودن پرسنل</p>
    <div class="row rtl">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <table class="table table-hover table-striped rtl table-sm">
          <tbody>
          <tr>
            <th style="width: 15%" scope="row">نام</th>
            <td #fname  contenteditable="true"  >

            </td>
            <td style="width: 1%;cursor: pointer;" (click)="fname.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>
          <tr>
            <th scope="row">نام خانوادگی</th>
            <td #lname contenteditable="true"  >

            </td>
            <td style="width: 3%;cursor: pointer;" (click)="lname.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>

          <tr>
            <th  scope="row">ایمیل</th>
            <td #email contenteditable="true" >

            </td>
            <td style="width: 3%;cursor: pointer;" (click)="email.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>

          <tr>
            <th  scope="row">شماره موبایل</th>
            <td #phone contenteditable="true" >

            </td>
            <td style="width: 3%;cursor: pointer;" (click)="phone.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>

          <tr>
            <th  scope="row">رمز عبور</th>
            <td  contenteditable="true"  >
              <input #pass (blur)="showPass(pass.value)" value="" type="password">
            </td>
            <td style="width: 3%;cursor: pointer;" (click)="pass.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>
          <tr >
            <th  scope="row">تکرار رمز عبور</th>
            <td  contenteditable="true"  >
              <input #reppass  type="password" value="">
            </td>
            <td style="width: 3%;cursor: pointer;" (click)="reppass.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
          </tr>


          </tbody>
        </table>
        <h6 style="text-align: right;font-size: 12px;font-weight: bold">نوع پرسنل:</h6>
        <mat-radio-group (change)="onChangePersonnelType($event)" [selected]="employee" >
          <mat-radio-button #employee style="padding: 20px;;text-align: left"  value="employee">کارمند</mat-radio-button>
          <mat-radio-button #admin style="padding: 20px;text-align: right" value="admin">مدیر</mat-radio-button>
        </mat-radio-group>
        <h6 style="text-align: right;font-size: 12px;font-weight: bold">وضعیت:</h6>
        <mat-radio-group (change)="onChangeState($event)" [selected]="notqualified" >
          <mat-radio-button #qualified style="padding: 20px;;text-align: left"  value="qualified">تایید شده</mat-radio-button>
          <mat-radio-button #notqualified style="padding: 20px;text-align: right" value="notqualified">تعلیق شده</mat-radio-button>
        </mat-radio-group>

      </div>

      <div class="col-md-1"></div>
      <div style="width: 100%">
        <button (click)="saveEmployee(fname.innerText, lname.innerText, email.innerText, phone.innerText , pass.value, reppass.value)" style="margin: 20px;float: left" class="btn btn-sm btn-success" >افزودن</button>
        <!--<button (click)="pickProfile.click()" style="margin: 20px;float: left" class="btn btn-sm btn-info" >تغییر عکس پروفایل</button>-->
        <!--<input #pickProfile type="file" style="display: none"-->
        <!--(change)="onPickProfile($event)" multiple/><br/>-->
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>

