.sign-bg{
  //background-image: U;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../../../../assets/images/landing-bg1.jpg");
  background-attachment: fixed!important;
  background-size: 100% 100%;

  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.ip2 {
  border-radius: 40px;
  border: 1.5px solid #00e25b;
  padding: 20px;
  margin: 10px;
  width: inherit;
  height: 10px;
  box-sizing: inherit;
}
.ip2:focus{
  border-bottom: 1px solid #00e25b!important;
  border-bottom-color: #00e25b!important;
  box-shadow: 0px 1px 0px 0px #00e25b!important;

}




















