<div  class="sign-bg">
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div [@flyInOut]="'in'" [@shakeAnimation] = "shakable" class="card" style="margin-top: 100px;padding: 30px">

        <h5  style="text-align: center">پاسخ</h5>

        <input  #empho type="text"  class="ip2" placeholder="شماره تلفن/ایمیل" style="text-align: center;margin-top: 20px"/>
        <input #pass type="password"  class="ip2" placeholder="رمز عبور" style="text-align: center;margin-top: 10px"/>
        <button  type="button" style="border-radius: 40px"  (click)="onSignIn(empho.value,pass.value)"  class="btn btn-success waves-light" mdbWavesEffect>ورود</button>
        <p *ngIf="hasError" style="color: red;text-align: center;margin-top: 10px;font-size: 10px;cursor: pointer" >{{errorMessage}}</p>
        <p  (click)="goToSignUp()" style="text-align: center;margin-top: 10px;font-size: 10px;cursor: pointer" >ثبت نام</p>

        <p  style="text-align: center;margin-top: 0px;font-size: 10px" [routerLink]="['/forgotPass']">فراموشی رمز عبور</p>

      </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</div>


<!--<h5 style="text-align: center">ثبت نام در پاسخ</h5>-->



<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
