.avatar{
  position: relative;
  height: 150px!important;
  width: 100%!important;
  top: -70px;
}
.rounded-circle{
  height: 150px!important;
  width: 150px!important;
  border: 2px solid #08a121;
  background-color: #f8f8f8;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.mat-button-toggle-checked{
  background-color: #3f76d3!important;
  color: #fafafa!important;
}
.mat-button-toggle{
  background-color: #f8f8f8;
  color: #3f76d3;
}
.mat-button-toggle-group{
  box-shadow: none;
  display: flex ;
  flex-wrap: wrap;
}

