<div class="main">


<app-tutor-navbar *ngIf="userType == 'ROLE_TUTOR'" [fontColor]="'#000000'"></app-tutor-navbar>
<app-student-navbar [fabButton]="false" *ngIf="userType == 'ROLE_STUDENT'" [fontColor]="'#000000'"></app-student-navbar>
<app-employee-navbar [fontColor]="'#000000'" *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'"> </app-employee-navbar>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row rtl">
    <div   *ngFor="let cat of categories" (click)="onShowPosts(cat.id)" class="col-4 category" style="height: 300px;cursor: pointer;margin-top: 20px">
      <img *ngIf="cat.coverImage != null" style="border-radius: 10px;height: 100%;width: 100%;" class="img-fluid q-img" [src]="baseFile + 'file/' + cat.coverImage.id">
      <label class="cat-label" style="">{{cat.title}}</label>
    </div>
  </div>
  <br>
  <button (click)="addCat.show()"  *ngIf="userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE'" class="btn btn-sm btn-success">افزودن دسته بندی</button>
</div>


<div mdbModal #addCat="mdb-modal" class="modal fade" id="rateModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <p class="heading lead" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">افزودن دسته بندی</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addCat.hide()">
          <span  aria-hidden="true" style="cursor: pointer" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" style="font-size: 12px">
          <p>:لطفا عنوان دسته بندی را وارد کنید</p>
          <input #title type="text" style="text-align: right;font-size: 12px">
          <img style="margin-top: 10px;display: block;margin-right: auto;margin-left: auto;width: 50%" *ngIf="newCatImg != null" [src]="baseFile + 'file/' + newCatImg?.id + '?isThumb=true'" >

          <button (click)="pickProfile.click()" style="margin-top: 20px;margin-left: auto;margin-right: auto" class="btn btn-sm btn-info" > عکس دسته بندی</button>
          <input #pickProfile type="file" style="display: none"
                 (change)="onPickCatImg($event)" multiple/><br/>
        </div>
        <!--<star-rating (ratingChange)="onRateChange($event)" style="margin-top: 20px;margin-bottom: 20px;text-align: center;justify-content: center" [getHalfStarClass]="false" [starType]="'svg'"></star-rating>-->

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" (click)="addCat.hide()" mdbWavesEffect>انصراف</button>
        <button (click)="onAddCat(addCat,title.value)" type="button" class="btn btn-sm btn-success " mdbWavesEffect>افزودن </button>

      </div>
    </div>
  </div>
</div>


<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
  <app-footer></app-footer>
</div>
