.category:hover .cat-label {
  background-color: rgba(255,252,255,0.5);
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  width: 92%;
  height: 100%;
  line-height: 300px;
  font-size: 16px;
  cursor: pointer
}
.cat-label{
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 15px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255,252,255,0.8);
  color: #000000;
  -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
