.mat-button-toggle-checked{
  background-color: #3f76d3!important;
  color: #fafafa!important;
}
.mat-button-toggle{
  background-color: #f8f8f8;
  color: #3f76d3;
}
.mat-button-toggle-group{
  box-shadow: none;
}

#fav-tutor-panel{
  height: 0px;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
}

#fav-tutor-panel.expand{
  height: 300px;
}

.c-hover{
  transition: all 0.5s ease-in-out;
}
.c-hover:hover{
   background-color: #efefef;
 }
.selected-tutor{
  background-color: #0f9d58;
  border-radius: 10px;
}
.selected-tutor h6{
  color: white;
}

.selected-tutor:hover{
  background-color: #0f9d58;
}
