<app-student-navbar [fabButton]="false"  [fontColor]="'#000000'"></app-student-navbar>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container rtl">

      <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">انتخاب مقطع:</h6>

        <mat-button-toggle-group #gradeToggle="matButtonToggleGroup" >
          <mat-button-toggle style="margin: 10px;border-radius: 5px" value="Seventh">پایه هفتم</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Eighth">پایه هشتم</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Ninth">پایه نهم</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Tenth">پایه دهم</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Eleventh">پایه یازدهم</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Twelfth">پایه دوازدهم</mat-button-toggle>
        </mat-button-toggle-group>

      <br>
      <br>
      <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">انتخاب موضوع:</h6>
        <mat-button-toggle-group #topicToggle="matButtonToggleGroup"  >
          <mat-button-toggle class="type2" style="margin: 10px;border-radius: 5px" value="Math">ریاضی</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Physics">فیزیک</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Chemistry">شیمی</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Biology">زیست</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Literature">ادبیات</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Arabic">عربی</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="Religious">دین و زندگی</mat-button-toggle>
          <mat-button-toggle style="margin: 10px;border-radius: 5px"  value="English">زبان انگلیسی</mat-button-toggle>
        </mat-button-toggle-group>
  <br>
  <hr>
  <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">تصویر سوال:</h6>

  <button *ngIf="questionImage == null" (click)="pickProfile.click()" mat-fab class="pulse" routerLink="/student/askQuestion"
          style="z-index: 101;display:block;background-color: #fafafa;width: 100px;height: 100px;margin-left: 45%;margin-right: auto;margin-top: auto"
          matTooltip="سوالات خود را از این قسمت بپرسید"
          [matTooltipPosition]="'below'">
    <img src="../../../../assets/images/paper-placeholder.svg" style="width: 70px;height: 70px">
  </button>
  <img (click)="pickProfile.click()" *ngIf="questionImage != null" style="cursor: pointer;margin-top: 10px;width: 30%;display: block;margin-left: auto;margin-right: auto" class="img-fluid z-depth-1"  [src]="baseUrl + 'file/' + questionImage.id">




  <input #pickProfile type="file" style="display: none"
         (change)="onPickImage($event)" multiple/><br/>
  <br>
  <br>
  <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">توضیح سوال:</h6>
  <textarea style="text-align: right;padding-top: 10px;padding-bottom: 10px" type="text" #desc class="form-control md-textarea" rows="3"></textarea>


  <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">انتخاب پاسخ دهنده:</h6>

  <mat-radio-group (change)="onChangeTutorType($event)" [selected]="public" style="">
    <mat-radio-button #public style="padding: 20px;width: 50%;text-align: left"  value="public"> پاسخ دهنده عمومی</mat-radio-button>
    <mat-radio-button #direct style="padding: 20px;width: 50%;text-align: right" value="direct"> پاسخ دهنده های محبوب</mat-radio-button>
  </mat-radio-group>

  <div id="fav-tutor-panel" [ngClass]="{'expand': tutorType == 'direct'}" >
      <div style="cursor: pointer"  *ngFor="let tutor of tutors" class="row rtl c-hover" [ngClass]="{'selected-tutor':responderId == tutor.id}" (click)="responderId = tutor.id">
        <div class="col-2">
          <img *ngIf="tutor.profileImage == null" style="margin-top: 10px;width: 50px;height: 50px;display: block;float: left" class="img-fluid z-depth-1 rounded-circle"  src="../../../../assets/images/teacher_1.png">
          <img *ngIf="tutor.profileImage != null" style="margin-top: 10px;width: 100px;height: 100px;display: block;margin-left: auto;margin-right: auto" class="img-fluid z-depth-1 rounded-circle"  [src]="baseUrl + 'file/' + tutor.profileImage.id">

        </div>
        <div class="col-10">
          <h6 style="text-align: right;font-size: 12px;padding: 20px">{{tutor.firstName}} {{tutor.lastName}}</h6>
        </div>
      </div>
  </div>




  <button  (click)="onSaveQuestion(gradeToggle.value,topicToggle.value,desc.value)" type="button" class="btn  btn-success" style="margin-right: auto;margin-left: auto;display: block;margin-top: 10px">ارسال سوال</button>
  <br>
  <br>
</div>


<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
