<div  class="grade-sel">
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div [@flyInOut]="'in'" [@shakeAnimation] = "shakable" class="card" style="margin-top: 100px;padding: 30px">

        <h6  style="text-align: center;color: #de4e2d">انتخاب مقطع تحصیلی</h6>
        <br>
        <!--TODO check-->
        <p (click)="showStudentPortal()" class="waves-effect list-group-item list-group-item-action" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع هفتم</p>
        <p (click)="showStudentPortal()" class="waves-effect list-group-item list-group-item-action" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع هشتم</p>
        <p (click)="showStudentPortal()" class="waves-effect list-group-item list-group-item-action" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع نهم</p>
        <p (click)="showStudentPortal()" class="waves-effect list-group-item list-group-item-action" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع دهم</p>
        <p (click)="showStudentPortal()" class="waves-effect list-group-item list-group-item-action" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع یازدهم</p>
        <p (click)="showStudentPortal()"  class=" list-group-item list-group-item-action waves-effect" style="text-align: center;margin-top: 0px;font-size: 10px" >مقطع دوازدهم</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</div>
