mdb-navbar a{
  color: white;

}
mdb-navbar links div ul li a{
  color: white;
  font-weight: bold;
}
links div ul li a{
  font-size: 12px;
  font-weight: bold;

}
link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}

.bg{
  background-color: #f8f8f8!important;
}


.link-wrapper {
  position: relative;
  display: block!important;

}

.hover-2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: dodgerblue;
  transition: transform 0.3s;

}
.hover-2:hover:after {
  transform: scaleX(1);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.customDropDown :hover{
  color: #1c1826!important;
  background-color: #0f9d58!important;
}


#sub-nav{
  top: 50px;
  position: fixed;
  transition: all 1s;
  -webkit-transition: all 1s;
  background-color: white;
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}


#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#sub-nav li {
  float: right;
}

#sub-nav li a {
  display: block;
  color: #0f9d58;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}

#sub-nav li a:hover {

}
.test{
  border-bottom: solid 2px #0f9d58;
  padding-bottom: 0px!important;
}
