.avatar{
  position: relative;
  height: 150px!important;
  width: 100%!important;
  top: -70px;
}
.rounded-circle{
  height: 150px!important;
  width: 150px!important;
  border: 2px solid #08a121;
  background-color: #f8f8f8;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.main {

  //background: #314755;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
