<div class="main">
  <app-student-navbar [fabButton]="false" [fontColor]="'#121212'"></app-student-navbar>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container card">
      <div class="avatar">
        <img *ngIf="student?.profileImage == null" src="../../../../assets/images/teacher_1.png" class="rounded-circle">
        <img *ngIf="student?.profileImage != null" [src]="baseFile + 'file/' + student?.profileImage?.id + '?isThumb=true'" class="rounded-circle">
      </div>
      <p class="text-center" style="margin-top: -50px">مشخصات فردی</p>
      <div class="row rtl">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <table class="table table-hover table-striped rtl table-sm">
              <tbody>
              <tr>
                <th style="width: 20%" scope="row">نام</th>
                <td #fname  contenteditable="true"  style="width: 30%;">
                  {{student?.firstName}}
                </td>
                <td style="width: 3%;cursor: pointer;" (click)="fname.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
              </tr>
              <tr>
                <th style="width: 20%" scope="row">نام خانوادگی</th>
                <td #lname contenteditable="true"  style="width: 30%">
                  {{student?.lastName}}
                </td>
                <td style="width: 3%;cursor: pointer;" (click)="lname.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
              </tr>

              <tr>
                <th style="width: 20%" scope="row">ایمیل</th>
                <td #email contenteditable="true"  style="width: 30%">
                  {{student?.email}}
                </td>
                <td style="width: 3%;cursor: pointer;" (click)="email.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
              </tr>

              <tr>
                <th style="width: 20%" scope="row">رمز عبور</th>
                <td  contenteditable="true"  style="width: 30%">
                    <input #pass (blur)="showPass(pass.value)" value="password" type="password">
                </td>
                <td style="width: 3%;cursor: pointer;" (click)="pass.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
              </tr>
              <tr >
                <th style="width: 20%" scope="row">تکرار رمز عبور</th>
                <td  contenteditable="true"  style="width: 30%">
                  <input #reppass  type="password" value="password">
                </td>
                <td style="width: 3%;cursor: pointer;" (click)="reppass.focus()"> <i  class="fa fa-pencil prefix"></i> </td>
              </tr>
              <tr>
                <th style="width: 20%" scope="row">رشته</th>
                <td  contenteditable="true"  style="width: 30%">
                  <span  *ngIf="fieldSelect.length > 0">
                    <ng-select
                      #field
                      [options]="fieldSelect"
                      (selected)="onSelectField($event)">
                    </ng-select>
                  </span>
                </td>
                <td style="width: 3%;cursor: pointer;" > <i class="fa fa-pencil prefix"></i> </td>
              </tr>

              </tbody>
            </table>


        </div>
        <div class="col-md-5">
          <table class="table table-hover table-striped rtl table-sm">
            <tbody>

            <tr>
              <th style="width: 20%" scope="row">مقطع تحصیلی</th>
              <td style="width: 30%">

                  <span  *ngIf="gradeSelect.length > 0">
                    <ng-select
                      #grade
                      [options]="gradeSelect"
                      (selected)="onSelectGrade($event)">
                    </ng-select>
                  </span>

              </td>
              <td style="width: 3%;cursor: pointer;" > <i  class="fa fa-pencil prefix"></i> </td>
            </tr>

            <tr>
              <th style="width: 20%" scope="row">مدرسه</th>
              <td #school contenteditable="true"  style="width: 30%">
                {{student?.school}}
              </td>
              <td style="width: 3%;cursor: pointer;" (click)="school.focus()"> <i  class="fa fa-pencil prefix"></i> </td>

            </tr>
            <tr>
              <th scope="row">معدل</th>
              <td #avg contenteditable="true">
                {{student?.average}}
              </td>
              <td style="width: 3%;cursor: pointer;" (click)="avg.focus()"> <i  class="fa fa-pencil prefix"></i> </td>

            </tr>

            <tr>
              <th scope="row">استان</th>
              <td  >
                  <span  *ngIf="provinceSelect.length > 0">
                    <ng-select
                      #province
                      [options]="provinceSelect"
                      (selected)="onSelectProvince($event)">
                    </ng-select>
                  </span>

              </td>
              <td style="width: 3%;cursor: pointer;" > <i  class="fa fa-pencil prefix"></i> </td>
            </tr>

            <tr>
              <th scope="row">شهر</th>
              <td  >
                  <span  *ngIf="citySelect.length > 0">
                    <ng-select
                      #city
                      [options]="citySelect"
                      (selected)="onSelectCity($event)">
                    </ng-select>
                  </span>
              </td>
              <td style="width: 3%;cursor: pointer;" > <i  class="fa fa-pencil prefix"></i> </td>
            </tr>


            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
        <div style="width: 100%">
          <button (click)="onEdit(fname.innerText, lname.innerText, email.innerText, pass.value, reppass.value, school.innerText, avg.innerText)" style="margin: 20px;float: left" class="btn btn-sm btn-success" >ویرایش</button>
          <button (click)="pickProfile.click()" style="margin: 20px;float: left" class="btn btn-sm btn-info" >تغییر عکس پروفایل</button>
          <input #pickProfile type="file" style="display: none"
                 (change)="onPickProfile($event)" multiple/><br/>
        </div>
      </div>
  </div>
</div>
  <br>
  <br>
  <br>


<app-footer></app-footer>
