<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!--<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>-->
  <style class="cp-pen-styles">

  </style>
</head><body>
<!--

A concept for a chat interface.

Try writing a new message! :)


Follow me here:
Twitter: https://twitter.com/thatguyemil
Codepen: https://codepen.io/emilcarlsson/
Website: http://emilcarlsson.se/

-->

<div id="frame">

  <div class="content">
    <div class="contact-profile">

      <p style="font-weight: bold;position: relative;text-align: center!important;width: 100%;">{{this.topic + ' - ' + this.grade|enumPipe}}</p>
      <div style="display: flex;position: absolute;left: 0px;top: 8px">
        <img *ngIf="userType == 'ROLE_STUDENT' && question?.questionState != 'Finished'" (click)="ratemodal.show()" class="item-btn" style=";;cursor: pointer;;float: left;height: 30px;width: 30px;padding: 3px" src="../../../assets/images/end-session.png">
        <img *ngIf="userType == 'ROLE_STUDENT'"  class="item-btn" (click)="complainrep.show()" style=";;cursor: pointer;;float: left;height: 30px;width: 30px;padding: 5px" src="../../../assets/images/support.png">
      </div>


      <div *ngIf="userType == 'ROLE_EMPLOYEE' || userType == 'ROLE_ADMIN'" style="display: flex;position: absolute;left: 10%;top: 4px">
        <label  style="font-size: 12px;;text-align: center" >پاسخگو</label>
      </div>
      <div *ngIf="userType == 'ROLE_EMPLOYEE' || userType == 'ROLE_ADMIN'" style="display: flex;position: absolute;right: 10%;top: 4px">
        <label  style="font-size: 12px;;text-align: center" >دانش آموز</label>
      </div>

      <!--<div class="social-media">-->
        <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
        <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
        <!--<i class="fa fa-instagram" aria-hidden="true"></i>-->
      <!--</div>-->
    </div>
    <div detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="10" class="messages messs">
      <ul *ngIf="userType == 'ROLE_STUDENT' || userType == 'ROLE_TUTOR'">
        <li *ngIf="showMoreBtn" >
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <button style="width: 100%" (click)="onShowMore()" class="btn btn-sm btn-success">پیام های قبلی</button>
            </div>
            <div class="col-4"></div>
          </div>
        </li>
        <li *ngFor="let m of messages" [ngClass]="{'replies' : user.id == m.authorUser.id , 'sent' : user.id != m.authorUser.id}">
          <p style="font-weight: bold;direction: rtl;text-align: right" *ngIf="m.messageType.toString()=='SEND_TEXT'">{{m.contents}}</p>
          <a *ngIf="m.messageType.toString()=='SEND_IMAGE'" [href]="baseUrl + 'file/' + m.mediaFile.id" target="_blank">
            <p  style="height: 200px;width: 300px;background-size:cover " [ngStyle]="{'background-image': 'url(' + baseUrl + 'file/' + m.mediaFile.id + ')' }"></p>
          </a>
        </li>
      </ul>
      <ul *ngIf="userType == 'ROLE_EMPLOYEE' || userType == 'ROLE_ADMIN'">
        <li *ngIf="showMoreBtn" >
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <button style="width: 100%" (click)="onShowMore()" class="btn btn-sm btn-success">پیام های قبلی</button>
            </div>
            <div class="col-4"></div>
          </div>
        </li>
        <li *ngFor="let m of messages" [ngClass]="{'replies' :  m.authorUser.id != question.responder.id , 'sent' : m.authorUser.id == question.responder.id }">
          <p style="font-weight: bold;" *ngIf="m.messageType.toString()=='SEND_TEXT'">{{m.contents}}</p>
          <a *ngIf="m.messageType.toString()=='SEND_IMAGE'" [href]="baseUrl + 'file/' + m.mediaFile.id" target="_blank">
            <p  style="height: 200px;width: 300px;background-size:cover " [ngStyle]="{'background-image': 'url(' + baseUrl + 'file/' + m.mediaFile.id + ')' }"></p>
          </a>

        </li>
      </ul>
    </div>
    <!--<div class="message-input">-->
      <!--<div class="wrap">-->
        <!--<input type="text" placeholder="Write your message..." />-->
        <!--<i class="fa fa-paperclip attachment" aria-hidden="true"></i>-->
        <!--<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row reply" *ngIf="!(question?.questionState == 'Finished' || userType == 'ROLE_ADMIN' || userType == 'ROLE_EMPLOYEE')">
      <div class="col-10 reply-main">
        <textarea #inputtext class="form-control" rows="1" id="comment"></textarea>
      </div>
      <div class="col-1 reply-recording">
        <i (click)="pickProfile.click()" class="fa fa-image fa-2x" aria-hidden="true"></i>
      </div>
      <div class=" col-1 reply-send">
        <i class="fa fa-send fa-2x sendMess"  (click)="onSendNewMessage(inputtext.value);inputtext.value = ''" aria-hidden="true"></i>
      </div>
    </div>
    <input #pickProfile type="file" style="display: none"
           (change)="onPickImage($event)" multiple/>

  </div>
</div>

</body></html>









<div mdbModal #complainrep="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <p class="heading lead" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">گزارش تخلف</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="complainrep.hide()">
          <span  aria-hidden="true" style="cursor: pointer" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" style="font-size: 12px">
          <p>در صورت اعتراض به روند ارسال و دریافت پاسخ فرم زیر را ارسال کنید</p>
        </div>
        <span  *ngIf="reportTopicSelect.length > 0">
                        <ng-select
                          #publicRep
                          [options]="reportTopicSelect"
                          (selected)="onSelectReport($event)">
                        </ng-select>
        </span>
        <input #desc type="text" style="font-size: 12px;text-align: right;margin-top: 20px" placeholder="توضیح(اختیاری)">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" (click)="complainrep.hide()" mdbWavesEffect>انصراف</button>
        <button (click)="onSendReport(desc.value,complainrep)" type="button" class="btn btn-sm btn-primary " mdbWavesEffect>ارسال اعتراض<i class="fa fa-send ml-1 white-text"></i></button>

      </div>
    </div>
  </div>
</div>



<div mdbModal #ratemodal="mdb-modal" class="modal fade" id="rateModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <p class="heading lead" style="width: 100%;font-size: 14px;line-height: 10px;text-align: center">پایان جلسه</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ratemodal.hide()">
          <span  aria-hidden="true" style="cursor: pointer" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" style="font-size: 12px">
          <p>لطفا به عملکرد پاسخ دهنده ی خود امتیاز دهید</p>
        </div>
        <star-rating (ratingChange)="onRateChange($event)" style="margin-top: 20px;margin-bottom: 20px;text-align: center;justify-content: center" [getHalfStarClass]="false" [starType]="'svg'"></star-rating>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" (click)="ratemodal.hide()" mdbWavesEffect>انصراف</button>
        <button (click)="onEndQuestion(ratemodal)" type="button" class="btn btn-sm btn-primary " mdbWavesEffect>پایان جلسه<i class="fa fa-send ml-1 white-text"></i></button>

      </div>
    </div>
  </div>
</div>
