<mdb-navbar class="rtl "  SideClass="custom-nav navbar navbar-expand-lg navbar-light  fixed-top  scrolling-navbar">
  <logo>
    <a style="font-weight: bold;font-size: 16px;color: dodgerblue" class="navbar-brand" href="#">{{title}}</a>
  </logo>

  <links>
    <div  class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">

        <li class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/tutor/questionList']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" >لیست سوالات<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/tutor/chatrooms']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" > اتاق های گفتگو<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/tutor/timeLine']" class="link hover-2 nav-link effect-underline" [href]="['signIn']"> فعالیت ها </a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/blog/cats']" class="link hover-2 nav-link effect-underline" href="#">  بلاگ </a>
        </li>

        <!--<li class="nav-item link-wrapper">-->
        <!--<a [ngStyle]="{'color': fontColor}" (click)="style.show()" class=" link hover-2 nav-link effect-underline" >  حساب کاربری </a>-->
        <!--</li>-->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect style="color: #2a2a2a;" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="caret"></span> حساب کاربری </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/tutor/profile']" >مشخصات حساب</a>
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/tutor/financial-panel/account']">امور مالی</a>
            <div class="divider dropdown-divider"></div>
            <a  (click)="logout()" class="customDropDown dropdown-item waves-light" mdbWavesEffect href="#">خروج از حساب</a>
          </div>
        </li>

      </ul>
    </div>
  </links>

</mdb-navbar>


