/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~css-star-rating/scss/star-rating";

@import "~angular-vertical-timeline/dist/vertical-timeline.css";


@font-face {
  font-family: 'IRANSans-web';
  src: url('assets/fonts/IRANSans-web.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/IRANSans-web.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  url('assets/fonts/IRANSans-web.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('assets/fonts/IRANSans-web.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/IRANSans-web.ttf') format('truetype')
  /* Legacy iOS */
}

@font-face {
  font-family: 'IRANYekanWeb';
  src: url('assets/fonts/699085bd.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/699085bd.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  url('assets/fonts/a80f71ff.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('assets/fonts/088dfe8a.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/2c83275a.ttf') format('truetype')
  /* Legacy iOS */
}
//@font-face {
//  font-family: 'Dima Yekan Typography';
//  src: url('assets/fonts/DimaYekanTypography.eot');
//  /* IE9 Compat Modes */
//  src: url('assets/fonts/DimaYekanTypography.eot?#iefix') format('embedded-opentype'),
//    /* IE6-IE8 */
//  url('assets/fonts/DimaYekanTypography.woff2') format('woff2'),
//    /* Super Modern Browsers */
//  url('assets/fonts/DimaYekanTypography.woff') format('woff'),
//    /* Pretty Modern Browsers */
//  url('assets/fonts/DimaYekanTypography.ttf') format('truetype')
//  /* Legacy iOS */
//}

@font-face {
  font-family: 'Mj_Flow';
  src: url('assets/fonts/Mj_Flow-Bold.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/Mj_Flow-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  url('assets/fonts/Mj_Flow-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('assets/fonts/Mj_Flow-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/Mj_Flow-Bold.ttf') format('truetype')
  /* Legacy iOS */
}

@font-face {
  font-family: 'Ionicons';
  src: url('assets/fonts/ionicons.ttf');
  /* IE9 Compat Modes */

  src: url('assets/fonts/ionicons.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  url('assets/fonts/ionicons.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('assets/fonts/ionicons.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/ionicons.ttf') format('truetype')
  /* Legacy iOS */

}

.mat-radio-label-content{
  font-family: "IRANSans-web" !important;
  padding: 10px!important;
  font-size: 12px!important;
}
.modal-content div .options ul li
{
  text-align: right;
  font-size: 12px;
}

.modal-content div.value
{
  font-size: 12px;
  text-align: right;
}
.star-container{
 margin-right: auto;
 margin-left: auto;
}
.rating:focus{
  outline: none;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.top-nav-collapse{
  background-color: white;
}
.top-nav-collapse a{
  color: #1c1826 !important;
}

.navbar-toggler-icon
{
  color: #fafafa!important;
}
body {
  //font-family: 'IRANSans-web', sans-serif;
  font-family: IRANYekanWeb , sans-serif;;
}
//.md-form label .active
//{
//  right: 0px!important;
//}

.md-form label{
  right: 0px!important;
  left: auto;
}

.mat-tooltip
{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 11px !important;
}
.mat-tab-label{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 13px !important;
}
.mat-tab-body-content{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 13px !important;
}

.nav-item-active{

}

.rating{
  justify-content: right!important;
}

.mat-button-toggle-label{
  margin-bottom: 0px!important;
}
.mat-button-toggle-label-content{
  font-family: "IRAN Sans"!important;
}


div.timeline-content{
  border-bottom-left-radius: 12px;
  padding: 0px;
}


div.date{
  display: none;
  //margin-bottom: 0px;
  //padding-bottom: 0px;
  //display: block;
}
div.inner-content{
  margin-top: 10px!important;
  margin: 10px!important;
}
div.timeline-content{
  padding: 10px!important;
  min-height: 6em!important;
}
.timeline-img{
  background-color: #1A73E8!important;
  margin-top: 15px!important;
  //position: relative!important;
}
.timeline-img p {
  font-size: 12px;
}

.mat-snack-bar-container
{
  z-index: 157480000!important;
}

snack-bar-container.error{
  background-color: #D50000!important;
  align-items: center!important;
  justify-content: center!important;
  display: flex!important;
  direction: rtl;
  text-align: center;
  white-space: pre-line;
  z-index: 	157480000!important;
}

snack-bar-container.success{
  background-color: #08a121!important;
  align-items: center!important;
  z-index: 	157480000!important;
  justify-content: center!important;
  display: flex!important;
  direction: rtl!important;

}

simple-snack-bar{
  font-family: "IRAN Sans"!important;
  z-index: 157480000!important;

}

//html, body {
//  height: 100%;
//  margin: 0;
//}
//.wrapper {
//  min-height: 100%;
//
//  /* Equal to height of footer */
//  /* But also accounting for potential margin-bottom of last child */
//  margin-bottom: -170px;
//}
//#footer,
//.push {
//  height: 170px;
//}


html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #f8f8f8;
}

.main {
  min-height: 100%;
  padding-bottom: 300px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar .dropdown-menu a:hover{
  color: #1c1826!important;

}
//.navbar{
//  background-color: #fafafa!important;
//
//}

.custom-nav{
  background-color: #fafafa!important;

}

.fix-height-nav{
  height: 50px!important;
  background-color: #fafafa!important;

}
.timeline-content
{
  background-color: #ffffff;
}
select-dropdown > div .options ul li{
  text-align: right!important;
}
ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder{
  text-align: right!important;
}

