.custom-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.custom-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.chips-success{
  padding: 7px;
  font-size: 10px;
  color: black;
  background-color: #dddddd;
  border-radius: 15px;
}
