<div class="main">
<app-student-navbar [fontColor]="'#121212'"></app-student-navbar>
<div >
<br>
<br>
<br>
<br>
<br>

<div class="container" >
  <label  class="chips-success" style="font-size: 13px;font-weight: bold ;float: right;margin-right: 20px">     اعتبار شما : {{ credit + ' ' + creditScale | persainNumberPipe}}<i style="padding: 5px" class="fa fa-credit-card fa-1x" aria-hidden="true"></i></label>
  <div class="row rtl" style="clear: both">
    <div class=" col-lg-3 col-md-4 col-sm-6" *ngFor="let perchase of availablePurchase"  style="padding: 20px;width: 100%;" >
      <div class="card" style="width: 100%;cursor: pointer">

        <img [src]="baseFile + 'file/' + perchase.image?.id + '?isThumb=true'" style="width: 100%;height: 200px;padding: 20px">
        <p style="font-weight: bold;font-size: 13px;text-align: center;margin-bottom: 5px">{{perchase.title}}</p>
        <div class="row">
          <div class="col-6">
            <p style="font-weight: bold;font-size: 12px;;text-align: right;padding-top: 10px;color: #08a121">{{perchase.price|persainNumberPipe}} تومان </p>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-success" (click)="onPurchaseBuy(perchase)" style="margin-bottom: 16px">خرید</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
<app-footer></app-footer>
</div>



