<mdb-navbar class="rtl  "   SideClass="custom-nav navbar navbar-expand-lg navbar-light  fixed-top  scrolling-navbar">
  <logo>
    <a style="font-size: 18px;font-weight: bold;color: dodgerblue" class="navbar-brand" href="#">پنل کاربری دانش آموز</a>
  </logo>

  <links>
    <div  class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">

        <li class="nav-item link-wrapper">
          <a  [ngStyle]="{'color': fontColor}" [routerLink]="['/student/questionList']"  [routerLinkActive]="'nav-item-active'" class="link hover-2 nav-link effect-underline" >لیست سوالات<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/student/timeLine']" class="link hover-2 nav-link effect-underline" [href]="['signIn']"> فعالیت ها </a>
        </li>
        <li class="nav-item link-wrapper">
          <a [ngStyle]="{'color': fontColor}" [routerLink]="['/blog/cats']" class="link hover-2 nav-link effect-underline" href="#">  بلاگ </a>
        </li>

        <!--<li class="nav-item link-wrapper">-->
          <!--<a [ngStyle]="{'color': fontColor}" (click)="style.show()" class=" link hover-2 nav-link effect-underline" >  حساب کاربری </a>-->
        <!--</li>-->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect style="color: #2a2a2a;" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <span class="caret"></span> حساب کاربری </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/student/profile']" >مشخصات حساب</a>
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/student/purchasePage']">خرید اعتبار</a>
            <a class="customDropDown dropdown-item waves-light" mdbWavesEffect [routerLink]="['/student/purchaseHistory']" href="#">تاریخچه خریدها</a>
            <div class="divider dropdown-divider"></div>
            <a  (click)="logout()" class="customDropDown dropdown-item waves-light" mdbWavesEffect href="#">خروج از حساب</a>
          </div>
        </li>

      </ul>
    </div>
  </links>
</mdb-navbar>

<button *ngIf="fabButton" mat-fab class="pulse"  routerLink="/student/askQuestion" [ngStyle]="{'color': fontColor}"
        style="z-index: 101;position: fixed;display:block;background-color: #fafafa;width: 6vw;height: 6vw;margin-left: 46.8%;margin-right: auto;margin-top: auto"
        matTooltip="سوالات خود را از این قسمت بپرسید"
        [matTooltipPosition]="'below'">
  <img src="../../../../assets/images/raise-your-hand-to-ask.png" style="width: 3vw;height: 3vw">
</button>




