<div class="verifi-bg">
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div [@flyInOut]="'in'" [@shakeAnimation] = "shakable" class="card" style="margin-top: 100px;padding: 30px">
        <h5 style="text-align: center">کد تایید</h5>
        <p style="font-size: 10px;text-align: center;margin-bottom: 0px;padding-top: 20px">:شماره موبایل</p>
        <input  type="text"  [textMask]="{mask: mask}" disabled class="ip2" [value]="phone" style="text-align: center;"/>
        <p style="font-size: 10px;text-align: center;margin-bottom: 0px;padding-top: 20px">:کد تایید</p>
        <input #verCode type="text" [textMask]="{mask:verificationMask}" class="ip2" value=""  style="text-align: center;"/>
        <!--<input type="text" class="ip1"  style="text-align: center"/>-->
        <button type="button" style="border-radius: 40px;margin-top: 20px" (click)="onVerification(verCode.value)" class="btn btn-success waves-light" mdbWavesEffect>تایید</button>
        <p (click)="onResendVerific()" style=";text-align: center;margin-top: 10px;font-size: 10px;cursor: pointer" >دریافت مجدد کد فعال سازی</p>
        <p *ngIf="hasError" style="direction: rtl;color: red;text-align: center;margin-top: 10px;font-size: 10px;cursor: pointer" >{{errorMessage}}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</div>
