<div  class="sign-bg" style="padding-bottom: 40px">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <div   class="card" style="margin-top: 60px;padding: 30px">

        <form>
          <div class="row rtl">
            <div class="col-6">
              <h6  style="text-align: center;color: #de4e2d">مشخصات فردی</h6>
              <hr>
              <label style="font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="name" class="grey-text">نام:</label>
              <input #fname [value]="tutor?.firstName == null ? '' : tutor?.firstName" style="text-align: right;;padding-top: 0px;font-size: 12px" type="text" id="name" class="form-control">

              <label style="font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="family" class="grey-text">نام خانوادگی:</label>
              <input #lname style="font-size: 12px;text-align: right;padding-top: 0px" type="text" id="family" [value]="tutor?.lastName == null ? '' : tutor?.lastName" class="form-control">

              <label style="margin-top: 30px;font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl"  class="grey-text">جنسیت:</label>

              <br>
              <mat-radio-group (change)="onChangeTutorGender($event)" [selected]="tutor?.gender == null ? null : (tutor?.gender == 'Male' ? rMale : rFemale)" style="">
                <mat-radio-button #rMale style="width: 60%;text-align: left"  value="Male"> آقا</mat-radio-button>
                <mat-radio-button #rFemale style="width: 40%;text-align: right" value="Female"> خانم</mat-radio-button>
              </mat-radio-group>

              <label style="font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl" for="biographi" class="grey-text">رزومه:</label>
              <textarea #bio [value]="tutor?.biography != null ? tutor?.biography : ''" style="text-align: right;padding-top: 10px;padding-bottom: 10px" type="text" id="biographi" class="form-control md-textarea" rows="3"></textarea>


            </div>
            <div class="col-6">
              <h6  style="text-align: center;color: #de4e2d;">مشخصات کاربری</h6>
              <hr>


              <br>
              <label style="font-size: 12px;display: block;margin-bottom: 0px;text-align: right;direction: rtl"  class="grey-text">انتخاب موضوع:</label>
              <br>
              <mat-button-toggle-group (change)="onChangeTutorTopic($event)" [multiple] = "true" #topicToggle="matButtonToggleGroup"  >
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Math') > -1" class="type2" style="margin: 10px;border-radius: 5px" value="Math">ریاضی</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Physics') > -1" style="margin: 10px;border-radius: 5px"  value="Physics">فیزیک</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Chemistry') > -1" style="margin: 10px;border-radius: 5px"  value="Chemistry">شیمی</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Biology') > -1" style="margin: 10px;border-radius: 5px"  value="Biology">زیست</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Literature') > -1" style="margin: 10px;border-radius: 5px"  value="Literature">ادبیات</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Arabic') > -1" style="margin: 10px;border-radius: 5px"  value="Arabic">عربی</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('Religious') > -1" style="margin: 10px;border-radius: 5px"  value="Religious">دین و زندگی</mat-button-toggle>
                <mat-button-toggle [checked]="tutor?.topics?.indexOf('English') > -1" style="margin: 10px;border-radius: 5px"  value="English">زبان انگلیسی</mat-button-toggle>
              </mat-button-toggle-group>
              <br>
              <button (click)="pickProfile.click()"  type="button" style="border-radius: 40px;width: 80%;margin-right: 10%;margin-left: 10%"   class="btn btn-success waves-light" mdbWavesEffect>انتخاب تصویر پروفایل</button>
              <img *ngIf="avatar == null" style="margin-top: 10px;width: 100px;height: 100px;display: block;margin-left: auto;margin-right: auto" class="img-fluid z-depth-1 rounded-circle"  src="../../../../assets/images/student_1.png">
              <img *ngIf="avatar != null" style="margin-top: 10px;width: 100px;height: 100px;display: block;margin-left: auto;margin-right: auto" class="img-fluid z-depth-1 rounded-circle"  [src]="baseUrl + 'file/' + avatar.id">

              <input #pickProfile type="file" style="display: none"
                     (change)="onPickProfile($event)" multiple/><br/>

            </div>

            <button (click)="onEdit(fname.value,lname.value,bio.value)"  type="button" style="border-radius: 40px;width: 40%;margin-top: 50px;margin-right: 30%;margin-left: 30%"   class="btn btn-primary waves-light" mdbWavesEffect>ویرایش</button>

          </div>



        </form>

      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>

  </div>

</div>



<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
