.sign-bg{
  //background-image: U;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to top, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to top, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../../../../assets/images/landing-bg1.jpg");
  background-attachment: fixed!important;
  background-size: 100% 100%;

  //position: fixed;
  //top: 0;
  //left: 0;
  //min-width: 100%;
  //min-height: 120%;
}

.mat-button-toggle-checked{
  background-color: #3f76d3!important;
  color: #fafafa!important;
}
.mat-button-toggle{
  background-color: #f8f8f8;
  color: #3f76d3;
}
.mat-button-toggle-group{
  box-shadow: none;
  display: flex ;
  flex-wrap: wrap;
}

.avatar{
  position: relative;
  height: 150px!important;
  width: 100%!important;
  top: -70px;
}
.rounded-circle{
  height: 150px!important;
  width: 150px!important;
  border: 2px solid #08a121;
  background-color: #f8f8f8;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
