.user{
  transition: all 0.5s ease-in-out; ;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.user:hover{
  background-color: #dddddd;

}
td{
  font-size: 12px;
}
th{
  font-size: 13px;
  background-color: #eeeeee ;
  font-weight: bold;
  //border-radius: 5px;
}
.qualification-seg{
  display: none;
}
.qualification-seg.expand{
  display: block;
}

.verification-seg{
  display: none;
}
.verification-seg.expand{
  display: block;
}
