<div class="main">


<app-employee-navbar [fontColor]="'#000000'"></app-employee-navbar>

  <div class="container " style="margin-top: 50px;;">
    <div class="row rtl">
      <div class="col-4">
        <h6 style="text-align: right;font-size: 12px;font-weight: bold;margin-top: 30px">انتخاب نوع کاربر:</h6>

        <div *ngIf="rolesSelect.length > 0" style="margin-top: 30px;margin-bottom: 25px">
          <ng-select #userTypeSelect
            [options]="rolesSelect"
            (selected)="onChangeUserType($event)">
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <h6 style="text-align: right;font-size: 12px;font-weight: bold;margin-top: 30px"> وضعیت کاربر:</h6>
        <div *ngIf="userStateSelect.length > 0" style="margin-top: 30px;margin-bottom: 25px">
          <ng-select #userState
                     [options]="userStateSelect"
                     (selected)="onChangeUserState($event)">
          </ng-select>
        </div>
      </div>
      <div class="col-4 " >


      </div>
    </div>
  </div>
  <div class="container-fluid" style=";;" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">
    <br>
    <div class="container" >
        <label style="float: right;font-size: 12px;font-weight: bold">:جستجو</label>
      <input #email placeholder="ایمیل" style="font-size: 12px;float: right; width: 200px;margin-right: 20%;text-align: right" type="text">
      <input #phone placeholder="شماره تلفن" style="font-size: 12px;float: right;width: 200px;margin-right: 90px ;text-align: right;" type="text">
      <button (click)="onSearch(email.value , phone.value)" class="btn btn-sm btn-success">جستجو</button>

      <br>
      <hr style="clear: both">
        <!--<div class="user" >-->

          <!--<p *ngIf="userType == 'tutor'" style="text-align: right;font-size: 12px;font-weight: bold">نام و نام خانوادگی: {{user.firstName}} {{user.lastName}} </p>-->
          <!--<p style="padding: 10px;text-align: right;font-size: 10px;font-weight: bold ;"> ایمیل: {{user.email}}   </p>-->
          <!--<p style="margin-right: 10px;text-align: right;font-size: 10px;;font-weight: bold">شماره تماس: {{user.mobileNumber}}</p>-->
        <!--</div>-->
        <table class="table rtl table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>ایمیل</th>
            <th>شماره تلفن</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer" *ngFor="let user of users;let i = index" (click)="onSelectUser(user)" >
            <td>{{ i+1}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileNumber|persainNumberPipe}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
          </tr>
          </tbody>
        </table>
        <p  *ngIf="users.length == 0" style="font-size: 14px;font-weight: bold;text-align: center;margin-top: 50px;color: orangered">موردی وجود ندارد</p>


      </div>

  </div>

<app-footer></app-footer>

</div>
<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
