<app-tutor-navbar [fontColor]="'#000000'"></app-tutor-navbar>


<br>
<br>






<div style="background-color: #eeeeee;padding-top: 30px;min-height: 500px;clear: both" >
  <div class="container main"  >
    <div style="cursor: pointer;"  *ngFor="let q of questions;let i = index" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">
      <div [id]="'qq-' + i" (click)="onOpenChatRoom(q)" class="rtl question-row" [ngClass]="{'question-row-hover' : i == detailedQuestion}">

        <div  class="img-col">
          <img *ngIf="q.image == null" style="padding: 5px;" class="img-fluid q-img" src="../../../../assets/images/paper-placeholder.png">
          <!--TODO uncomment and check -->
          <img *ngIf="q.image != null" style="padding: 5px;" class="img-fluid q-img" [src]="baseUrl + 'file/' + q.image.id">
        </div>
        <div class="partiotions">
          <div  class="desc-col">
            <h6 style="font-size: 14px;font-weight: bold;color: #1c1826">توضیح سوال:</h6>
            <p style="font-size: 12px;color: #2a2a2a">{{ (q.description.length>60)? (q.description | slice:0:60)+'..':(q.description) }}</p>

          </div>
          <div  class="detail-col">
            <star-rating *ngIf="q.questionState == 'Finished'" style="margin-top: 20px;margin-bottom: 20px;text-align: right;justify-content: right" [getHalfStarClass]="false" [starType]="'svg'" [rating]="q.rate"></star-rating>
            <label *ngIf="q.questionState != 'Finished'" class="chips-success" style="">{{q.questionTopic|enumPipe}}</label>

            <div>
              <label *ngIf="q.questionState == 'Finished'" class="chips-success" style="">پاسخ داده شده</label>
              <label *ngIf="q.questionState == 'Accepted'" class="chips-warning" style="">پذیرفته شده</label>
            </div>
            <div>
              <label class="chips-grey" style=";">{{q.creationDate|amLocale:'fa'|amTimeAgo|persainNumberPipe}}</label>
            </div>
          </div>
          <br>

        </div>


      </div>
      <hr style="margin-top: 20px">
    </div>
    <div *ngIf="questions.length == 0;">
      <p style="line-height: 400px;text-align: center;color: #1A73E8;font-size: 12px">اتاقی وجود ندارد</p>
    </div>

  </div>
</div>


<app-footer></app-footer>




<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
