.chips-success{
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #0f9d58;
  border-radius: 10px;
}

.chips-warning{
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #d14836;
  border-radius: 10px;
}

.chips-grey{

  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #666666;
  border-radius: 10px;
}
.chips-credit{
  padding: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #0f9d58;
  background-color: #eeeeee;
  border-radius: 15px;
}
.chips-rate{
  padding: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #ff9800;
  background-color: #eeeeee;
  border-radius: 15px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
}
.mat-slider-horizontal {
  width: 100%;
}
.select-tab{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #2f5bb7;
}








.question-row {
  flex-wrap: inherit;
  display: flex;
  height: 100px;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
}



.question-row-hover {
  height: 500px;
}
.q-img{
  height: 100px;
  width: 120px;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
}
.question-row-hover .q-img{
  height: 450px;
  width: 650px;

}
.question-row-hover .partiotions{
  width: 35%;
  display: block;
}

.question-row-hover .img-col{
  width: 65%;
}
.question-row-hover .desc-col{

}
.question-row-hover .bid-section{
  display: inline;

}
.question-row-hover .detail-col{

}


.img-col{
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  width: 15%;
}
.partiotions{
  width: 85%;
  display: flex;
}
.desc-col{
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  width: 70%;
}
.detail-col{
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  width: 30%;
}

.bid-section{
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  display: none;
}
