.chips-credit{
  padding: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #0f9d58;
  background-color: #eeeeee;
  border-radius: 15px;
}
.red-color {
  color: red;
}
.green-color {
  color: green;
}

td{
  font-size: 12px;
}
th{
  font-size: 13px;
  font-weight: bold;
}
