<div class="main">
<app-financial-nav  [fontColor]="'#000000'" [title]="'پنل مالی پاسخگو'" ></app-financial-nav >
<div class="container" style="margin-top: 100px" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100">
  <br>
  <h6 style="font-size: 14px;font-weight: bold;text-align: right">درخواست تسویه حساب</h6>
  <p style="font-size: 12px;text-align: right">برای تسویه حساب لازم است مبلغ درخواستی بیش از ۵۰ هزار تومان باشد</p>
  <label  class="chips-credit" style="float: left;margin-top: -50px">موجودی قابل تسویه : {{ availableMoney | persainNumberPipe }} تومان<i style="padding: 5px" class="fa fa-credit-card fa-1x" aria-hidden="true"></i></label>
  <button (click)="requestPayment()" style="font-size: 13px;font-weight: bold"  class="btn btn-sm btn-success">درخواست تسویه حساب</button>
  <br>
  <br>
  <h6 style="font-size: 14px;font-weight: bold;text-align: right">تاریخچه تسویه حساب ها</h6>
  <table class="table rtl table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>مبلغ قابل پرداخت</th>
      <th>تاریخ تسویه حساب</th>
      <th>شماره شبا</th>
      <th>وضعیت</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of settlements;let i = index" >
      <td>{{ i+1}}</td>
      <td>{{s.amount|persainNumberPipe}}</td>
      <td>{{s.creationDate|jalaliPipe|persainNumberPipe}}</td>
      <td>{{s.creditNumber|persainNumberPipe}}</td>
      <td [ngClass]="{'green-color':s.settlementState == 'Pending'}">{{s.settlementState|enumPipe}}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>
</div>


<div *ngIf="spinner" style="position: fixed;top:50%;left: 50%;">
  <img style=";width: 60px!important;height: 30px!important;margin-left: -30px;margin-top: -15px" src="../../../../assets/images/spinner/three-dots.svg" />
  <p style="color: #08a121;text-align: center;font-size: 10px;margin-right: auto;margin-left: auto;width: 100px!important;height: 30px!important;margin-left: -50px;margin-top: -5px"  >
    در حال بارگزاری
  </p>
</div>
